<div class="content" align="center">


    <h2>Register Customer</h2>

<div class="help">
  <button class="button is-info is-rounded my-float">
    <a href="http://localhost:8080/Register.html" target="_blank">
               <i class="fa fa-question-circle" aria-hidden="true"></i>
              </a>
  </button>
</div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <!-- Title -->
        <div class="mat-row">
            <div class="mat-col-quarter">
                <mat-form-field appearance="outline" class="control-m">
                    <mat-label>Title </mat-label>
                    <mat-select formControlName="titleID">
                        <mat-option *ngFor="let c of collection" [value]="c.titleId">{{c.titleDescription}}</mat-option>
                    </mat-select>
                    <mat-hint>Select customer title</mat-hint>
                    <mat-error *ngIf="form.controls['titleID'].invalid">Please Select a Title</mat-error>
                </mat-form-field>
            </div>

            <!-- Customer Name -->
            <div class="mat-col-quarter">
                <mat-form-field appearance="outline" class="control-m">
                    <mat-label>Customer Name</mat-label>
                    <input type="text" matInput placeholder="Customer Name" formControlName="customerName">
                    <mat-hint>Enter customer name</mat-hint>
                    <mat-error *ngIf="form.controls['customerName'].invalid">Please enter Customer Name</mat-error>
                </mat-form-field>
            </div>

        </div>


        <div class="mat-row">
            <!-- Customer Surname -->
            <div class="mat-col-quarter">
                <mat-form-field appearance="outline" class="control-m">
                    <mat-label>Customer Surname</mat-label>
                    <input type="text" matInput placeholder="Customer surname" formControlName="customerSurname">
                    <mat-hint>Enter customer surname</mat-hint>
                    <mat-error *ngIf="form.controls['customerSurname'].invalid">Please enter Customer Surname
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Customer Business Name -->
            <div class="mat-col-quarter">
                <mat-form-field appearance="outline" class="control-m">
                    <mat-label>Customer Business Name </mat-label>
                    <input type="text" matInput placeholder="Customer Business Name "
                        formControlName="customerBusinessName">
                    <mat-hint>Enter customer business name</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <div class="mat-row">
            <!-- Customer email address -->
            <div class="mat-col-quarter">
                <mat-form-field appearance="outline" class="control-m">
                    <mat-label>Customer Email Address</mat-label>
                    <input type="text" matInput placeholder="Customer Email Address"
                        formControlName="customerEmailAddress">
                    <mat-hint>Enter customer email address</mat-hint>
                    <mat-error *ngIf="form.controls['customerEmailAddress'].invalid">Please enter a valid Email
                        Address
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mat-col-quarter">
                <mat-form-field appearance="outline" class="control-m">
                    <mat-label>VAT Registration number</mat-label>
                    <input formControlName="customerVATReg" matInput>
                    <mat-hint>Enter customer VAT registration number</mat-hint>
                    <mat-error *ngIf="form.controls['customerVATReg'].invalid">Please enter a valid VAT Registration
                        number
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="mat-row">
            <!-- Customer Username-->
            <div class="mat-col-quarter">
                <mat-form-field appearance="outline" class="control-m">
                    <mat-label>Customer Username</mat-label>
                    <mat-hint>Enter your username</mat-hint>
                    <input type="text" matInput placeholder="Customer Username" formControlName="userUsername">
                    <mat-error *ngIf="form.controls['userUsername'].invalid">Please enter Customer
                        Username</mat-error>
                </mat-form-field>
            </div>

            <!-- Customer Contact Number -->
            <div class="mat-col-quarter">
                <mat-form-field appearance="outline" class="control-m">
                    <mat-label>Customer Number</mat-label>
                    <input type="text" matInput placeholder="Customer Contact Number"
                        formControlName="customerCellphoneNumber">
                    <mat-hint>Enter customer contact number</mat-hint>
                    <mat-error *ngIf="form.controls['customerCellphoneNumber'].invalid">Please enter Customer
                        Contact Number</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="mat-row">
            <!-- Customer Password -->
            <div class="mat-col-quarter">
                <mat-form-field appearance="outline" class="control-m">
                    <mat-label>Customer Password</mat-label>
                    <input type="password" matInput placeholder="Customer Password" formControlName="userPassword">
                    <mat-hint>Enter customer password</mat-hint>
                    <mat-error *ngIf="form.controls['userPassword'].invalid">Password must be
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Customer Confirm Password -->
            <div class="mat-col-quarter">
                <mat-form-field appearance="outline" class="control-m">
                    <mat-label>Confirm Customer Password</mat-label>
                    <input type="password" matInput placeholder="Confirm Customer Password"
                        formControlName="customerConfirmPassword">
                        <mat-hint>Confirm customer password</mat-hint>
                    <mat-error *ngIf="form.controls['customerConfirmPassword'].invalid">Please confirm your password</mat-error>
                </mat-form-field>
            </div>
        </div>


        <div class="mat-row">

            <!-- Customer buttons -->
            <div class="mat-col-quarter">
                <div class="control-m">
                    <div class="form-group">
                        <button mat-raised-button color="primary" [disabled]="loading">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Save
                        </button>
                        <a (click)="Close()" mat-button>Cancel</a>
                    </div>
                </div>
            </div>
        </div>