
<a mat-mini-fab color="primary" href="http://localhost:8080/CaptureSupplierPayment.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>

<div class="content">

    <h2>Capture Supplier Payment</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="main">

      <li *ngFor="let element">
        {{supplierName}}
      </li>

    <!-- Payment -->
      <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Payment</mat-label>
                <span matPrefix>R &nbsp;</span>
                <input type="text" matInput placeholder="Please enter payment" formControlName="supplierAmount">
                <mat-hint>Enter payment amount</mat-hint>
                <mat-error *ngIf="form.controls['supplierAmount'].invalid">Please enter the payment amount</mat-error> 
            </mat-form-field>
        </div>
      </div>

      <!-- Buttons -->
  <div class="mat-row">
    <div class="form-group" class="control-m">
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
    </div>
  </div>

</form>
</div>
