<div class="content">
  <h2>Place Supplier Order</h2>

   <div class="search">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <div class="field has-addons">
          <div class="control">
            <input type="text" [(ngModel)]="searchValue" class="input" id="search" placeholder="Type here...">
          </div>
          <div class="control">
            <a class="button is-info" (click)="filter()">
              <span class="fas fa-search search-icon"></span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <app-global-error *ngIf="dataNotFound"></app-global-error>

  <div class="split right">
    <table mat-table [dataSource]="dataSource" *ngIf="!dataNotFound" matSort>
      <!-- Position Column -->

      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Select </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox (click)="PlaceOrder()"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Product Item -->
      <ng-container matColumnDef="productItemName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Item </th>
        <td mat-cell *matCellDef="let element"> {{element.productItemName}} </td>
      </ng-container>

      <!-- Quantity -->
      <ng-container matColumnDef="quantityOnHand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity On Hand </th>
        <td mat-cell *matCellDef="let element"> {{element.quantityOnHand}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

 <div>
    <mat-paginator [pageSizeOptions]="[5, 8, 15, 35]" showFirstLastButtons aria-label="Select page">
    </mat-paginator>
  </div>
  </div>
 

<div class="split left">

 <form [formGroup]="form" class="main">

    <div class="mat-row">
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
          <mat-label> Supplier </mat-label>
          <mat-select [(value)]="selected" formControlName="supplierID">
            <mat-option *ngFor="let Supplier of supplier" [value]="Supplier.supplierID">{{Supplier.supplierName}}
            </mat-option>
          </mat-select>
          <mat-hint>Select a supplier</mat-hint>
        </mat-form-field>
      </div>
    </div>

  </form>

  <br>

  <mat-card>
  
  <div class="col-md-4">
      <h4>No of Items Placed: {{selectedItemsList.length}} </h4>
      <ul>
        <li *ngFor="let item of selectedItemsList">{{item.productItemName}} {{item.productItemName}}</li>
      </ul>
    </div>
  </mat-card>

   <br>

  <button mat-raised-button type="submit" color="primary" (click)="finalOrder()">Place Order</button>

</div>