<div class="content">

  <a *ngIf="isAddMode" mat-mini-fab color="primary" href="http://localhost:8080/AddCategoryType1.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>

              <a *ngIf="!isAddMode" mat-mini-fab color="primary" href="http://localhost:8080/UpdateCategoryType1.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>

  <h2 *ngIf="isAddMode">Add Category Types</h2>
  <h2 *ngIf="!isAddMode">Edit Category Types</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="mat-row">
      <!-- Choose category image -->
      <div appearance="outline" [ngClass]="imageError ? 'mat-col-quarter image-error' : 'mat-col-quarter image-border'" class="mat-col-quarter">
        <label class="image-upload-container btn btn-bwm">
          <span>Select Image</span>
          <input #fileInput type="file" accept=".png,.jpg,.jpeg" (change)="upload($event)">
          <br>
          <mat-hint>Select category type image</mat-hint>
        </label>
      </div>
    </div>

     <div class="mat-row">
      <div [ngClass]="imageError ? 'image-error-message' : ''">
        Please Select an Image
      </div>
    </div>

    <div class="mat-row">
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
          <mat-label>Product Category Name</mat-label>
          <mat-select [(value)]="selected" formControlName="productCategoryID">
            <mat-option *ngFor="let ProductCategory of collection" [value]="ProductCategory.productCategoryId">
              {{ProductCategory.productCategoryDescription}}
            </mat-option>
          </mat-select>
          <mat-hint>Select product category name</mat-hint>
          <mat-error *ngIf="form.controls['productCategoryID'].invalid">Please Select a Category Type</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="mat-row">
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
          <mat-label>Category Type Name</mat-label>
          <input type="text" matInput placeholder="Category Type Name" formControlName="categoryTypeDescription">
          <mat-hint>Enter category type name</mat-hint>
           <mat-error *ngIf="form.controls['categoryTypeDescription'].invalid">Please Enter a Category Type Name</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="mat-row">
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
          <mat-label>Category Type Description</mat-label>
          <input type="text" matInput placeholder="Category Type Name" formControlName="itemDescription">
          <mat-hint>Enter category type description</mat-hint>
          <mat-error *ngIf="form.controls['itemDescription'].invalid">Please Enter a Category Type Description</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="mat-row">
      <div class="form-group" class="control-m">
        <button mat-raised-button color="primary"  [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
        </button>
        <a (click)="Close()" mat-button>Cancel</a>
      </div>

    </div>

  </form>
</div>
