<h1 *ngIf="isAddMode">Add Category Types</h1>
<h1 *ngIf="!isAddMode">Edit Category Types</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>Product Category Name</mat-label>
                <mat-select formControlName="productCategoryName">
                  <mat-option value="Product Category 1">Product Category 1</mat-option>
                  <mat-option value="Product Category 2">Product Category 2</mat-option>
                  <mat-option value="Product Category 3">Product Category 3</mat-option>
                  <mat-option value="Product Category 4">Product Category 4</mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>Category Type Name</mat-label>
                <input type="text" matInput placeholder="Category Type Name" formControlName="categoryType">
            </mat-form-field>
        </div>
    </div>

  <div class="mat-row">

    <div class="form-group" class="control-w">
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
  </div>

</div>

</form>
