<div class="content">

    <h2>Update Maximum Number of Deliveries Limit</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="mat-row">
            <div class="mat-col-quarter">
                <mat-form-field appearance="outline" class="control-m">
                    <mat-label>Enter Number of Deliveries Limit</mat-label>
                    <input type="number" min="1" matInput placeholder="Enter Number of Deliveries Limit"
                        formControlName="shiftLimit" disabled="false">
                    <mat-hint>Enter the maximum number of deliveries that can be allocated to a Shift</mat-hint>
                    <mat-error *ngIf="form.controls['shiftLimit'].invalid">Please enter Delivery Limit</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="mat-row">
            <div class="mat-col-quarter">
                <div class="form-group" class="control-m">
                    <button mat-raised-button color="primary" [disabled]="loading">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                    <a (click)="Close()" mat-button>Cancel</a>
                </div>
            </div>
        </div>

    </form>
</div>