<div class="content">

    <h2>Add Invoice Items</h2>

    <div class="mat-row">
      <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Product Item Name</mat-label>
              <input type="number" matInput placeholder="Product Item Name" formControlName="productItemName">
          </mat-form-field>
      </div>
    </div>

    <div class="mat-row">
      <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Product Item Cost</mat-label>
              <input type="number" matInput placeholder="Product Item Cost" formControlName="productItemCost">
          </mat-form-field>
      </div>
    </div>

    <div class="mat-row">
      <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Quantity Purchased</mat-label>
              <input type="number" matInput placeholder="Quantity Purchased" formControlName="quantityPurchased">
          </mat-form-field>
      </div>
  </div>

  <div class="mat-row">
    <div class="form-group" class="control-m">
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
           Add
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
    </div>
  </div>

  </div>

