<div class="content">

<h2 *ngIf="isAddMode">Add Employee</h2>
<h2 *ngIf="!isAddMode">Edit Employee</h2>

 <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mat-row">
         <!-- Employee First Name -->
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="First Name" formControlName="employeeName">
            </mat-form-field>
        </div>

        <!-- Employee Last Name -->
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput placeholder="Last Name" formControlName="employeeSurname">
            </mat-form-field>
        </div>
    </div>

    <div class="mat-row">
    <!-- Employee User Name -->
        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Username</mat-label>
              <input type="text" matInput placeholder="Username" formControlName="userUsername">
          </mat-form-field>
        </div>

    <!-- Employee Contact Number -->
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Contact Number</mat-label>
                <input type="text" matInput placeholder="contactNumber" formControlName="employeeCellphoneNumber">
            </mat-form-field>
        </div>
      </div>

      <div class="mat-row">
        <!-- Employee ID Number -->
        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>ID Number</mat-label>
              <input type="text" matInput placeholder="idNumber" formControlName="employeeIdnumber">
          </mat-form-field>
      </div>

      <!-- Employee Date of birth -->
      <div class="mat-col-quarter">
        <mat-form-field class="control-m">
          <input matInput [matDatepicker]="picker" placeholder="Select Date of Birth" formControlName="employeeDob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="mat-row">
      <!-- Employee Address Line 1 -->
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Address Line 1</mat-label>
                <input type="text" matInput placeholder="addressLine1" formControlName="employeeAddressLine1">
            </mat-form-field>
        </div>

        <!-- Employee Address Line 2 -->
        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Address Line 2</mat-label>
              <input type="text" matInput placeholder="addressLine2" formControlName="employeeAddressLine2">
          </mat-form-field>
      </div>
    </div>
      <!-- Employee Address Line 3
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-w">
          <mat-label>Address Line 3</mat-label>
          <input type="text" matInput placeholder="addressLine3" formControlName="addressLine3">
      </mat-form-field>
  </div>

    </div>

    <div class="mat-row">
      <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>City/Town</mat-label>
                <input type="text" matInput placeholder="City/Town" formControlName="cityTown">
                <mat-hint>Your city or town</mat-hint>
            </mat-form-field>
        </div>
      <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-w">
              <mat-label>Postal Code</mat-label>
              <input type="text" matInput placeholder="postalCode" formControlName="postalCode">
          </mat-form-field>
      </div>  -->

      <div class="mat-row">
        <!-- Employee Password -->
       <div class="mat-col-quarter">
           <mat-form-field appearance="outline" class="control-m">
               <mat-label>Password</mat-label>
               <input type="text" matInput placeholder="Password" formControlName="userPassword">
           </mat-form-field>
       </div>

       <!-- Employee Confirm Password -->
       <div class="mat-col-quarter">
           <mat-form-field appearance="outline" class="control-m">
               <mat-label>Confirm Password</mat-label>
               <input type="text" matInput placeholder="Confirm Password" formControlName="employeeConfirmPassword">
           </mat-form-field>
       </div>
   </div>


 <div class="mat-row">

    <!-- <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Username</mat-label>
          <input type="text" matInput placeholder="Username" formControlName="employeeUsername">
      </mat-form-field>
  </div>   -->

    <!-- Employee save and cancel buttons -->
    <div class="form-group" class="control-m">
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
  </div>

  <br>
  <br>
</div>



