<div class="content">

              <a *ngIf="isAddMode" mat-mini-fab color="primary" href="http://localhost:8080/AddUserRole1.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>

              <a *ngIf="!isAddMode" mat-mini-fab color="primary" href="http://localhost:8080/UpdateUserRole1.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>

<h2 *ngIf="isAddMode">Add User Role</h2>
<h2 *ngIf="!isAddMode">Edit User Role</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="main">
<!-- User role name -->
  <div class="mat-row">
    <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m" >
             <mat-label  >User Role Name</mat-label> 
            <input type="text" matInput placeholder="User Role Name" formControlName="userRoleName" ngModel required>
            <mat-hint >Enter user role name</mat-hint>
            <mat-error *ngIf="form.controls['userRoleName'].invalid" >Please provide a  user role name</mat-error>
        </mat-form-field>
    </div>
  </div>

<!-- User Role description -->
  <div class="mat-row">
    <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>User Role Description</mat-label>
            <input type="text" matInput placeholder="User Role Description" formControlName="userRoleDescription"  ngModel required>
             <mat-hint>Enter user role description</mat-hint>
             <mat-error *ngIf="form.controls['userRoleDescription'].invalid">Please provide a  user role description</mat-error>
        </mat-form-field>
    </div>
  </div>

<!-- Buttons -->
  <div class="mat-row">
    <div class="form-group" class="control-m">
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
    </div>
  </div>

</form>
</div>
