<div class="content">
<h2 *ngIf="isAddMode">Add User Role</h2>
<h2 *ngIf="!isAddMode">Edit User Role</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="main">
<!-- User role name -->
  <div class="mat-row">
    <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>User Role Name</mat-label>
            <input type="text" matInput placeholder="User Role Name" formControlName="userRoleName">
        </mat-form-field>
    </div>
  </div>

<!-- User Role description -->
  <div class="mat-row">
    <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>User Role Description</mat-label>
            <input type="text" matInput placeholder="User Role Description" formControlName="userRoleDescription">
        </mat-form-field>
    </div>
  </div>

<!-- Buttons -->
  <div class="mat-row">
    <div class="form-group" class="control-m">
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
    </div>
  </div>

</form>
</div>
