<div class="content">

  <!-- I created a customer profile -->

  <h2 *ngIf="isAddMode">Add Customer</h2>
  <h2 *ngIf="!isAddMode">Edit Customer</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" >


      <!-- Title -->
      <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Title </mat-label>
                <mat-select formControlName="titleId">
                   <mat-option *ngFor="let c of collection" [value]="c.titleId">{{c.titleDescription}}</mat-option>
                </mat-select>
                <mat-hint>Select customer title</mat-hint>
                 <mat-error *ngIf="form.controls['titleId'].invalid">Please Select a Title</mat-error>
              </mat-form-field>
        </div>

         <!-- Customer email address -->
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>Customer Email Address</mat-label>
            <input type="text" matInput placeholder="Customer Email Address" formControlName="customerEmailAddress">
            <mat-hint>Enter customer email address</mat-hint>
             <mat-error *ngIf="form.controls['customerEmailAddress'].invalid">Please enter Customer Email Address</mat-error>
        </mat-form-field>
    </div>

</div>

  <div class="mat-row">
     
   <!-- Customer Name -->
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>Customer Name</mat-label>
            <input type="text" matInput placeholder="Customer Name" formControlName="customerName">
            <mat-hint>Enter customer name</mat-hint>
              <mat-error *ngIf="form.controls['customerName'].invalid">Please enter Customer Name</mat-error>
        </mat-form-field>
    </div>

     <!-- Customer Business Name -->
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>Customer Business Name </mat-label>
            <input type="text" matInput placeholder="Customer Business Name " formControlName="customerBusinessName">
            <mat-hint>Enter customer business name</mat-hint>
        </mat-form-field>
    </div>

    </div>

    <div class="mat-row">
     <!-- Customer Surname -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Customer Surname</mat-label>
          <input type="text" matInput placeholder="Customer surname" formControlName="customerSurname">
          <mat-hint>Enter customer surname</mat-hint>
          <mat-error *ngIf="form.controls['customerSurname'].invalid">Please enter Customer Surname</mat-error>
      </mat-form-field>
  </div>
    

    <!-- Customer VAT Number -->
      <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Customer VAT Number</mat-label>
              <input type="text" matInput placeholder="Customer VAT Number" formControlName="customerVATReg">
              <mat-hint>Enter customer VAT number</mat-hint>
          </mat-form-field>
      </div>
    </div>

    <!-- <div class="mat-row"> -->
      <!-- Customer Password -->
      <!-- <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>Customer Password</mat-label>
            <input type="text" matInput placeholder="Customer Password" formControlName="customerPassword">
        </mat-form-field> -->
    <!-- </div> -->

   <!-- Customer Confirm Password -->
   <!-- <div class="mat-col-quarter">
    <mat-form-field appearance="outline" class="control-m">
        <mat-label>Confirm Customer Password</mat-label>
        <input type="text" matInput placeholder="Confirm Customer Password" formControlName="customerPassword">
    </mat-form-field>
    </div>
    </div> -->

    <!-- <div class="mat-row"> -->
    <!-- Customer Username-->
    <!-- <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Customer Username</mat-label>
          <input type="text" matInput placeholder="Customer Username" formControlName="customerUsername">
      </mat-form-field>
      </div> -->

<div class="mat-row">

<!-- Customer Contact Number -->
      <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Customer Number</mat-label>
              <input type="text" matInput placeholder="Customer Contact Number" formControlName="customerCellphoneNumber">
              <mat-hint>Enter customer contact number</mat-hint>
              <mat-error *ngIf="form.controls['customerCellphoneNumber'].invalid">Please enter Customer Contact Number</mat-error>
          </mat-form-field>
      </div>

      <!-- Customer buttons -->
      <div class="mat-col-quarter">
        <div class="control-m">
    <div class="form-group" >
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
  </div>
  </div>
</div>
</div>

    </form>

  </div>

