<div class="content">

  <!-- I created a customer profile -->

  <h2 *ngIf="isAddMode">Add Customer</h2>
  <h2 *ngIf="!isAddMode">Edit Customer</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" >

    <div class="mat-row">

      <!-- Customer Name -->
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>Customer Name</mat-label>
            <input type="text" matInput placeholder="Customer Name" formControlName="customerName">
        </mat-form-field>
    </div>

    <!-- Customer Surname -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Customer Surname</mat-label>
          <input type="text" matInput placeholder="Customer surname" formControlName="customerSurname">
      </mat-form-field>
  </div>

  </div>

  <div class="mat-row">
      <!-- Customer email address -->
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>Customer Email Address</mat-label>
            <input type="text" matInput placeholder="Customer Email Address" formControlName="customerEmail">
        </mat-form-field>
    </div>

    <!-- Customer Contact Number -->
      <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Customer Number</mat-label>
              <input type="text" matInput placeholder="Customer Contact Number" formControlName="customerContactNumber">
          </mat-form-field>
      </div>

    </div>

    <div class="mat-row">
      <!-- Customer Business Name -->
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>Customer Business Name </mat-label>
            <input type="text" matInput placeholder="Customer Business Name " formControlName="customerBusinessName">
        </mat-form-field>
    </div>

    <!-- Customer VAT Number -->
      <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Customer VAT Number</mat-label>
              <input type="text" matInput placeholder="Customer VAT Number" formControlName="customerVat">
          </mat-form-field>
      </div>
    </div>

    <div class="mat-row">
      <!-- Customer Password -->
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>Customer Password</mat-label>
            <input type="text" matInput placeholder="Customer Password" formControlName="customerPassword">
        </mat-form-field>
    </div>

   <!-- Customer Confirm Password -->
   <div class="mat-col-quarter">
    <mat-form-field appearance="outline" class="control-m">
        <mat-label>Confirm Customer Password</mat-label>
        <input type="text" matInput placeholder="Confirm Customer Password" formControlName="customerPassword">
    </mat-form-field>
    </div>
    </div>

    <div class="mat-row">
    <!-- Customer Username-->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Customer Username</mat-label>
          <input type="text" matInput placeholder="Customer Username" formControlName="customerUsername">
      </mat-form-field>
      </div>

    <!-- Supplier save and cancel button -->
    <div class="mat-col-quarter">
    <div class="form-group" class="control-m">
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
  </div>
  </div>

</div>
    </form>
  </div>

