    <mat-nav-list>
  <!-- Home -->
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
      <!-- <mat-icon>home</mat-icon>  -->
      <img src="assets/images/Homepage.png" class="w3-margin-right" width=20px height=20px>
      <span class="nav-caption"> Home</span>
  </a>

  <!-- Users -->
  <mat-list-item [matMenuTriggerFor]="menu">
      <!-- <mat-icon>shopping_cart</mat-icon> -->
      <img src="assets/images/Users.png" class="w3-margin-right" width=20px height=20px>
      <a matline> Users</a>
      <!-- <button mat-button [matMenuTriggerFor]="menu">Users</button> -->
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/customer" (click)="onSidenavClose()">Customer</button>
    <button mat-menu-item routerLink="/userRole" (click)="onSidenavClose()">User Role</button>
  </mat-menu>

  <!-- Employees -->
  <a mat-list-item routerLink="/employees" (click)="onSidenavClose()">
    <!-- <mat-icon>home</mat-icon>  -->
    <img src="assets/images/employee.png" class="w3-margin-right" width=20px height=20px>
    <span class="nav-caption"> Employees</span>
</a>

  <!-- Suppliers -->
  <mat-list-item [matMenuTriggerFor]="menu2">
    <!-- <mat-icon>shopping_cart</mat-icon> -->
    <img src="assets/images/supplier.png" class="w3-margin-right" width=20px height=20px>
    <a matline> Suppliers</a>
</mat-list-item>
<mat-menu #menu2="matMenu">
  <button mat-menu-item routerLink="/supplier" (click)="onSidenavClose()"> View Suppliers </button>
  <button mat-menu-item routerLink="/supplierAdd" (click)="onSidenavClose()"> Add Supplier </button>
  <button mat-menu-item routerLink="/placeSupplierOrder" (click)="onSidenavClose()"> Place Supplier Order </button>
  <button mat-menu-item routerLink="/receiveSupplierOrder" (click)="onSidenavClose()"> Receive Supplier Order </button>
</mat-menu>

  <!-- Admin -->
<mat-list-item [matMenuTriggerFor]="menu3">
  <!-- <mat-icon>shopping_cart</mat-icon> -->
  <img src="assets/images/admin.png" class="w3-margin-right" width=20px height=20px>
  <a matline> Admin</a>
</mat-list-item>
<mat-menu #menu3="matMenu">
<button mat-menu-item routerLink="/onlineSales" (click)="onSidenavClose()">Online Sales</button>
<!-- <button mat-menu-item routerLink="/searchOnlineSales" (click)="onSidenavClose()">Search Online Sales</button> -->
<button mat-menu-item routerLink="/stockTake" (click)="onSidenavClose()">Do Stock Take</button>
<button mat-menu-item routerLink="/writeOffStock" (click)="onSidenavClose()">Write Off Stock</button>
<button mat-menu-item routerLink="/assigndeliveryorder" (click)="onSidenavClose()">Assign Delivery Order</button>
</mat-menu>

  <!-- Products -->
<mat-list-item [matMenuTriggerFor]="menu4">
  <!-- <mat-icon>shopping_cart</mat-icon> -->
  <img src="assets/images/product.png" class="w3-margin-right" width=20px height=20px>
  <a matline> Products</a>
</mat-list-item>
<mat-menu #menu4="matMenu">
<button mat-menu-item routerLink="/productCategory" (click)="onSidenavClose()">Product Category</button>
<button mat-menu-item routerLink="/categoryType" (click)="onSidenavClose()">Category Type</button>
<button mat-menu-item routerLink="/productItem" (click)="onSidenavClose()">Product Item</button>
</mat-menu>

  <!-- Promotions -->
<mat-list-item [matMenuTriggerFor]="menu5">
  <!-- <mat-icon>shopping_cart</mat-icon> -->
  <img src="assets/images/promotion.png" class="w3-margin-right" width=20px height=20px>
  <a matline> Promotions</a>
</mat-list-item>
<mat-menu #menu5="matMenu">
<button mat-menu-item routerLink="/special"(click)="onSidenavClose()">View Specials</button>
<button mat-menu-item routerLink="/specialAdd" (click)="onSidenavClose()">Add Special</button>
</mat-menu>

  <!-- Delivery Shift -->
<mat-list-item [matMenuTriggerFor]="menu6">
  <!-- <mat-icon>shopping_cart</mat-icon> -->
  <img src="assets/images/deliveryshift.png" class="w3-margin-right" width=20px height=20px>
  <a matline> Delivery Shift</a>
</mat-list-item>
<mat-menu #menu6="matMenu">
<button mat-menu-item routerLink="/deliveryShift" (click)="onSidenavClose()">View Delivery Shift</button>
<button mat-menu-item routerLink="/deliveryShift" (click)="onSidenavClose()">Add Delivery Shift</button>
</mat-menu>

  <!-- Courier -->
<mat-list-item [matMenuTriggerFor]="menu7">
  <!-- <mat-icon>shopping_cart</mat-icon> -->
  <img src="assets/images/Courier.png" class="w3-margin-right" width=20px height=20px>
  <a matline> Courier</a>
</mat-list-item>
<mat-menu #menu7="matMenu">
<button mat-menu-item routerLink="/couriers" (click)="onSidenavClose()">View Couriers</button>
<button mat-menu-item routerLink="/addCourier" (click)="onSidenavClose()">Add Couriers</button>
</mat-menu>

  <!-- Reports -->
<mat-list-item [matMenuTriggerFor]="menu8">
  <!-- <mat-icon>shopping_cart</mat-icon> -->
  <img src="assets/images/Report.png" class="w3-margin-right" width=20px height=20px>
  <a matline> Reports</a>
</mat-list-item>
<mat-menu #menu8="matMenu">
<button mat-menu-item routerLink="/fastSellingProductsReport" (click)="onSidenavClose()">Fast Selling Products Report</button>
<button mat-menu-item routerLink="/slowSellingProductsReport" (click)="onSidenavClose()">Slow Selling Products Report</button>
<button mat-menu-item routerLink="/monthlySalesOrderReport" (click)="onSidenavClose()">Monthly Sales Order Report</button>
<button mat-menu-item routerLink="/weeklySalesOrderReport" (click)="onSidenavClose()">Weekly Sales Order Report</button>
<button mat-menu-item routerLink="/mostFrequentBuyersReport" (click)="onSidenavClose()">Most Frequent Buyers Report</button>
<button mat-menu-item routerLink="/popularLocationReport" (click)="onSidenavClose()">Popular Location Report</button>
<button mat-menu-item routerLink="/deliveryReport" (click)="onSidenavClose()">Delivery Report Report</button>
<button mat-menu-item routerLink="/packingReport" (click)="onSidenavClose()">Packing Report</button>
<button mat-menu-item routerLink="/stockLevelReport" (click)="onSidenavClose()">Stock Level Report</button>
</mat-menu>

  <a mat-list-item routerLink="/login" (click)="onSidenavClose()">
      <!-- <mat-icon>help_outline</mat-icon>  -->
      <img src="assets/images/Help.png" class="w3-margin-right" width=20px height=20px>
      <span class="nav-caption">Help</span>
  </a>

    <a mat-list-item routerLink="/login" (click)="onSidenavClose()">
      <!-- <mat-icon>exit_to_app</mat-icon>  -->
      <img src="assets/images/Logout.png" class="w3-margin-right" width=20px height=20px>
      <span class="nav-caption">Logout</span>
  </a>
  </mat-nav-list>

