<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>

  <mat-list-item [matMenuTriggerFor]="menu">
      <mat-icon>shopping_cart</mat-icon>
      <a matline>Products</a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/products" (click)="onSidenavClose()">Products</button>
    <button mat-menu-item (click)="onSidenavClose()">Category 2</button>
  </mat-menu>
    
  <mat-list-item [matMenuTriggerFor]="menu">
      <mat-icon>shopping_basket</mat-icon>
      <a matline>Promotions</a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">Category 1</button>
    <button mat-menu-item (click)="onSidenavClose()">Category 2</button>
  </mat-menu>


  <a mat-list-item routerLink="/login" (click)="onSidenavClose()">
      <mat-icon>help_outline</mat-icon> <span class="nav-caption">Help</span>
  </a>

    <a mat-list-item routerLink="/login" (click)="onSidenavClose()">
      <mat-icon>exit_to_app</mat-icon> <span class="nav-caption">Logout</span>
  </a>
</mat-nav-list>
