<div class="main">
    <div>
        <h2>Delivery Shifts</h2>

        <div class="search">
            <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                <li>
                    <div class="field has-addons">
                        <div class="control">
                            <input type="text" [(ngModel)]="searchWord" class="input" id="search"
                                placeholder="Search Deliveryshft...">
                        </div>
                        <div class="control">
                            <a class="button is-info" (click)="filter()">
                                <span class="fas fa-search search-icon"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <app-global-error *ngIf="dataNotFound"></app-global-error>

        <br>
        <br>

        <div>
            <table mat-table [dataSource]="dataSource" matSort *ngIf="!dataNotFound">

                <ng-container matColumnDef="employeeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
                    <td mat-cell *matCellDef="let element">{{element.employeeName}} </td>
                </ng-container>

                <!-- Start Time Column -->
                <ng-container matColumnDef="startTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
                    <td mat-cell *matCellDef="let element">{{element.startTime}} </td>
                </ng-container>

                <!-- End Time Column -->
                <ng-container matColumnDef="endTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="dayOfTheWeek">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.dayOfTheWeek}} </td>
                </ng-container>

                <!-- Number of Deliveries Column -->
                <ng-container matColumnDef="noOfDeliveries">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Deliveries </th>
                    <td mat-cell *matCellDef="let element"> {{element.noOfDeliveries}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
                            routerLink="/addDeliveryShift">
                            <mat-icon>add</mat-icon>
                        </button>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item [routerLink]="['/editDeliveryShift', element.shiftId]">Update Delivery
                                Shift</button>
                            <button mat-menu-item (click)="deleteDeliveryshift(element)">Delete Delivery
                                Shift</button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 8, 15, 35]" showFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>