.content, .tablecontent {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 25%; 
  }

  .content{
    left: 5%;
  }

  .tablecontent{
    right: 5%;
    top: 25%;
  }

  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 45px;
  }
  
  .mat-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  
  .mat-col-quarter {
    margin-left: 3px;
    margin-top: 5px;
    //margin-left: 20;
    width: 500px;
  }
  

.control-m {
  margin-top: 10px;
  margin-left: 20;
  width: 500px;
}
h2 {
  //text-align: left;
  font-weight: 400;
  font-size: 45px;
  left: 40px;
}

table {
    margin-top: 20px;
    width: 100%;
    background-color: white;
}

th {
  top: 10px;
  text-align: center;
  font-size: medium;
}
td {
  border-bottom: 1px solid #ddd;
}

.example-container {

    margin-left: 100px;
    margin-right: 100px;
}
