<h1 *ngIf="isAddMode">Add Product Item</h1>
<h1 *ngIf="!isAddMode">Edit Product Item</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="mat-row">

        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label> Category Type</mat-label>
                <mat-select [(value)]="selected" formControlName="categoryTypeId">
                  <mat-option *ngFor="let CategoryType of collection" [value]="CategoryType.categoryTypeId">{{CategoryType.categoryTypeDescription}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>


        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>Product Item Name</mat-label>
                <input type="text" matInput placeholder="Product Item Name" formControlName="productItemName">
                <mat-hint>Product Item Name</mat-hint>
            </mat-form-field>
        </div>

        
  </div>

    <div class="mat-row">
        <!-- <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>Product Item Description</mat-label>
                <input type="text" matInput placeholder="description" formControlName="categoryTypeDescription">
                <mat-hint>Item Description</mat-hint>
            </mat-form-field>
        </div> -->

        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-w">
              <mat-label>Item Cost</mat-label>
              <input type="text" matInput placeholder="Cost" formControlName="productItemCost">
              <mat-hint>Item Cost</mat-hint>
          </mat-form-field>
      </div>
    </div>

    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>Quantity</mat-label>
                <input type="text" matInput placeholder="quantity" formControlName="productItemQuantityOnHand">
                <mat-hint>Product Quantity</mat-hint>
            </mat-form-field>
        </div>
        <!-- <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>IMAGE</mat-label>
                <input type="text" matInput placeholder="City/Town" formControlName="cityTown">
                <mat-hint>Your city or town</mat-hint>
            </mat-form-field>
        </div> -->
    </div>

  <div class="mat-row">
    <div class="form-group" class="control-w">
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
    </div>

  </div>

</form>
