<div class="content">
<h2 *ngIf="isAddMode">Add Product Item</h2>
<h2 *ngIf="!isAddMode">Edit Product Item</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label> Category Type</mat-label>
                <mat-select [(value)]="selected" formControlName="categoryTypeId">
                  <mat-option *ngFor="let CategoryType of collection" [value]="CategoryType.categoryTypeId">{{CategoryType.categoryTypeDescription}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
  </div>

  <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Product Item Name</mat-label>
                <input type="text" matInput placeholder="Product Item Name" formControlName="productItemName">
            </mat-form-field>
        </div>
  </div>

    <div class="mat-row">
        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Item Cost</mat-label>
              <input type="text" matInput placeholder="Cost" formControlName="productItemCost">
          </mat-form-field>
      </div>
    </div>

    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Quantity</mat-label>
                <input type="text" matInput placeholder="quantity" formControlName="quantityOnHand">
            </mat-form-field>
        </div>
    </div>

  <div class="mat-row">
    <div class="form-group" class="control-w">
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
    </div>

  </div>

</form>
</div>
