.barChart{
    height: 50%;
    width: 50%;
}

.help{
  // position: absolute;
  right: 20px;
  // top: 75px;
}

.column {
    float: left;
    padding: 10px;
    text-align: center;
  }
  
  .left, .right{
    width: 40%;
  }
  
  .help{
    position: absolute;
    left: 20px;
    top: 75px;
  }