<div class="main">
  <div>

  <a mat-mini-fab color="primary" href="http://localhost:8080/CaptureSupplierOrder.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>

    <h2>Capture Supplier Order</h2>

    <div class="search">
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
          <div class="field has-addons">
            <div class="control">
              <input type="text" [(ngModel)]="searchValue" class="input" id="search" placeholder="Type here...">
            </div>
            <div class="control">
              <a class="button is-info" (click)="filter()">
                <span class="fas fa-search search-icon"></span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <app-global-error *ngIf="dataNotFound"></app-global-error>

    <br>
    <br>
    <div>
      <table mat-table [dataSource]="dataSource" *ngIf="!dataNotFound" matSort>
        <!-- Supplier Column -->
        <ng-container matColumnDef="supplierName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier </th>
          <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
        </ng-container>

        <!-- Order Status -->
        <ng-container matColumnDef="supplierOrderStatusDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Status </th>
          <td mat-cell *matCellDef="let element"> {{element.supplierOrderStatusDesc}} </td>
        </ng-container>

        <!-- Supplier Order Total -->
        <ng-container matColumnDef="supplierOrderTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Total </th>
          <td mat-cell *matCellDef="let element"> R{{element.supplierOrderTotal}} </td>
        </ng-container>

        <!-- Product Item -->
        <ng-container matColumnDef="viewOrder">
          <th mat-header-cell *matHeaderCellDef> Capture Order </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button *ngIf= "element.supplierOrderStatusId == '1'" color="primary"  [routerLink]="['/captureOrder',element.supplierOrderID]" (click)="view(element.supplierID)">Capture Order</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="invoice">
          <th mat-header-cell *matHeaderCellDef>Invoice </th>
          <td mat-cell *matCellDef="let element">
            <div class="example-button-container">
            
                <a href={{element.supplierTotalPdf}} target="_blank" aria-label="Example icon button with a menu icon" (click)="showInvoice()"> 
                  <mat-icon>image</mat-icon>
                </a>
           
            </div>
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 8, 15, 35]"
  showFirstLastButtons 
  aria-label="Select page">
</mat-paginator>
</div>
