<div class="back-ground">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="title">Login to NKAP</mat-card-title>

  </mat-card-header>
   <mat-card-content>
     <form [formGroup]="form">
          <!-- (ngSubmit)="Login(form.value)"> -->

          <div >
            <mat-form-field style="width:50%" appearance="outline">
              <mat-label>Username</mat-label>
              <input formControlName="userUsername" matInput class="info">
              <mat-error *ngIf="form.controls['userUsername'].invalid">Please enter a valid username</mat-error>
            </mat-form-field>
          </div>

          <div >
            <mat-form-field style="width:50%" appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="userPassword" matInput>
              <mat-error *ngIf="form.controls['userPassword'].invalid">Please enter a valid password</mat-error>
            </mat-form-field>
          </div>

          <div >
            <button (click) = "Login()" mat-raised-button style="width:50%">Login</button>
          </div>
          <br>
         

        </form>
  </mat-card-content>

  <mat-card-actions>
   <div>
            <a routerLink="/home" (click)="forgotPassword()">
              <h5>Forgot Username/Password?</h5>
            </a>
          </div>
          <br>
          <br>
          <!-- <div >
            <a routerLink="/home">
              <h5>Create your account </h5>
            </a>
          </div> -->
  </mat-card-actions>
</mat-card>
</div>