    <div class="split picture" color="primary">
      <img src="assets/images/NKAP.jpg" />
    </div>

  <div class="split information">

    <a mat-mini-fab color="primary" href="http://localhost:8080/Login.html" target="_blank"
      aria-label="Example icon button with a menu icon" class="help">
      <mat-icon>help</mat-icon>
    </a>
    <div>

      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:100px" color="primary">

        <form [formGroup]="form">
          <!-- (ngSubmit)="Login(form.value)"> -->

          <h1>Log in to Nkap Bolting</h1>

          <div>
            <mat-form-field style="width:50%" appearance="outline">
              <mat-label>Username</mat-label>
              <input formControlName="userUsername" matInput class="info">
              <mat-error *ngIf="form.controls['userUsername'].invalid">Please enter a valid username</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field style="width:50%" appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="userPassword" matInput>
              <mat-error *ngIf="form.controls['userPassword'].invalid">Please enter a valid password</mat-error>
            </mat-form-field>
          </div>

          <div>
            <button mat-raised-button color="primary" (click)="Login()" mat-raised-button
              style="width:50%">Login</button>
          </div>
          <br>


        </form>

        <br>

        <a routerLink="" (click)="forgotPassword()">
              <h5>Forgot Password?</h5>
            </a>
   </div>
    </div>
  </div>
