<div>
  <div>
    <div>

      <div class="split picture">
        <img style="margin-top:30px" src="assets/images/NKAP.jpg" />
      </div>
    </div>

    <div class="split information">

    
<div class="help">
  <button  routerLink="/products" class="button is-info is-rounded my-float">
    <a href="http://localhost:8080/Login2.html" target="_blank">
               <i class="fa fa-question-circle" aria-hidden="true"></i>
              </a>
  </button>
</div>


      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:100px">
        

        <div>
          <button class="button is-inverted" (click)="backClicked()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>Back
          </button>        
        </div>

        <form [formGroup]="form">

        <h1>Log in to Nkap Bolting</h1>
          <!-- (ngSubmit)="Login(form.value)"> -->

          <div fxLayoutAlign="center">
            <mat-form-field style="width:50%" appearance="outline">
              <mat-label>Enter username</mat-label>
              <input formControlName="userUsername" matInput>
              <mat-error *ngIf="form.controls['userUsername'].invalid">Please enter a valid username</mat-error>
            </mat-form-field>
          </div>

          <div fxLayoutAlign="center" style="margin-top:10px">
            <mat-form-field style="width:50%" appearance="outline">
              <mat-label>Enter password</mat-label>
              <input type="password" formControlName="userPassword" matInput>
              <mat-error *ngIf="form.controls['userPassword'].invalid">Please enter a valid password</mat-error>
            </mat-form-field>
          </div>

          <div fxLayoutAlign="center" style="margin-top:10px">
            <a routerLink="/login" (click)="forgotPassword()">
              <h5>Forgot password?</h5>
            </a>
          </div>
          <br>


          <div fxLayoutAlign="center" style="margin-top:20px">
            <button (click)="Login()" mat-raised-button color="primary">Login</button>
          </div>

          <div fxLayoutAlign="center" style="margin-top:20px">
          <a [routerLink]="['/newregister']">
          <button mat-raised-button color="primary">Register</button>
          </a>
          </div> 
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div fxFlex fxLayout="column" fxLayoutGap="0px">
  <div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">

      <div fxLayoutAlign="center">
        <img style="margin-top:30px" src="assets/images/NKAP.jpg"/>
      </div>
    </div>

    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" class="mat-app-background">
      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:30px">
        <div fxLayout="row" fxLayoutAlign="end">
          <a routerLink="/home"> 
            <h4><mat-icon>arrow_back</mat-icon>Go back</h4>      
          </a>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h1>Log in to Nkap Bolting</h1>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:100px">
        
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          
          <div fxLayoutAlign="center">            
            <mat-form-field style="width:50%" appearance="outline">
              <mat-label>Enter username</mat-label>
              <input formControlName="username" matInput>
              <mat-error *ngIf="form.controls['username'].invalid">Please enter a valid username</mat-error>
            </mat-form-field>
          </div>
          
          <div fxLayoutAlign="center" style="margin-top:10px">
            <mat-form-field style="width:50%" appearance="outline">
              <mat-label>Enter password</mat-label>
              <input type="password" formControlName="password" matInput>
              <mat-error *ngIf="form.controls['password'].invalid">Please enter a valid password</mat-error>
            </mat-form-field>
          </div>

          <div fxLayoutAlign="center" style="margin-top:10px">
            <a routerLink="/home"> 
              <h5>Forgot password... again?</h5>      
            </a>
          </div>


          <div fxLayoutAlign="center" style="margin-top:20px">
            <button [disabled]="!form.valid || formSubmitted" type="submit" mat-raised-button color="primary">Login</button>
          </div>

          <div fxLayoutAlign="center" style="margin-top:20px">
          <a [routerLink]="['/register']">
          <button mat-raised-button color="primary">Register</button>
          </a>
          </div>
        </form>
      </div>
    </div>
  </div> 
</div> -->