<div class="content">
  <h2>Capture Order</h2>
  
<a mat-mini-fab color="primary" href="http://localhost:8080/ViewOrder.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>

    <br>

  <div>

    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Select </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox (click)="AddQuantity()"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Product Item -->
      <ng-container matColumnDef="productItemName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Item </th>
        <td mat-cell *matCellDef="let element"> {{element.supplierProducts}} </td>
      </ng-container>

      <!-- Quantity -->
      <ng-container matColumnDef="quantityOnHand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity Ordered</th>
        <td mat-cell *matCellDef="let element"> {{element.supplierQuantityOrdered}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

<br>
<br>
  
<div class="mat-row">
    <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m" >
             <mat-label  >Invoive Total</mat-label> 
            <input type="number" matInput placeholder="Enter invoice total amount" formControlName="invoiceTotal" ngModel required>
            <mat-hint >Enter invoice total</mat-hint>
        </mat-form-field>
    </div>

   <div class="mat-col-quarter">
      <div appearance="outline" class="upload">
        <label class="image-upload-container btn btn-bwm">
          <span>Upload Invoice</span>
          <input #fileInput type="file" accept=".pdf" (change)="upload($event)">
          <br>
          <mat-hint>Upload invoice</mat-hint>
        </label>
      </div>
    </div>
  </div>

  <br>

  <div class="mat-row">
    <div class="form-group" class="buttons">
      <button mat-raised-button color ="primary">
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
    </div>
  </div>
  </div>

  