<h1 *ngIf="isAddMode">Add Supplier</h1>
<h1 *ngIf="!isAddMode">Edit Supplier</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="main">

  <div class="mat-row">

    <!-- Supplier Name -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Supplier Name</mat-label>
          <input type="text" matInput placeholder="Supplier Name" formControlName="supplierName">
      </mat-form-field>
  </div>

  <!-- Supplier Type -->
  <div class="mat-col-quarter">
    <mat-form-field appearance="outline" class="control-m">
        <mat-label>Supplier Type</mat-label>
        <mat-select formControlName="title">
          <mat-option value="Dr">Bolts</mat-option>
          <mat-option value="Mr">Hardware</mat-option>
          <mat-option value="Mrs">Other</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
</div>

<div class="mat-row">
    <!-- Supplier email address -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Supplier Email Address</mat-label>
          <input type="text" matInput placeholder="Supplier Email Address" formControlName="supplierEmailAddress">
      </mat-form-field>
  </div>

  <!-- Supplier Contact Number -->
    <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>Contact Number</mat-label>
            <input type="text" matInput placeholder="Contact Number" formControlName="supplierContactNumber">
        </mat-form-field>
    </div>
  </div>

  <div class="mat-row">
    <!-- Supplier Addressline 1 -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Supplier AddressLine1</mat-label>
          <input type="text" matInput placeholder="Supplier AddressLine1" formControlName="supplierAddressLine1">
      </mat-form-field>
  </div>

  <!-- Supplier city/town -->
    <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>City/Town</mat-label>
            <input type="text" matInput placeholder="City/Town" formControlName="supplierCityTown">
        </mat-form-field>
    </div>
  </div>

  <div class="mat-row">
    <!-- Supplier Address Line 2 -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Supplier AddressLine2</mat-label>
          <input type="text" matInput placeholder="Supplier AddressLine2" formControlName="supplierAddressLine2">
      </mat-form-field>
  </div>

  <!-- Supplier postal code -->
    <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
            <mat-label>Postal Code</mat-label>
            <input type="text" matInput placeholder="Postal Code" formControlName="supplierPostalCode">
        </mat-form-field>
    </div>
  </div>

  <div class="mat-row">
    <!-- Supplier adressline 3 -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Supplier AddressLine3</mat-label>
          <input type="text" matInput placeholder="Supplier AddressLine3" formControlName="supplierAddressLine3">
      </mat-form-field>
  </div>

  <!-- Supplier save and cancel button -->
  <div class="form-group" class="control-m">
    <button mat-raised-button color ="primary" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Save
    </button>
    <a (click)="Close()" mat-button>Cancel</a>
</div>
  </div>
</form>
