<div class = "content">

<h2 *ngIf="isAddMode">Add Supplier</h2>
<h2 *ngIf="!isAddMode">Edit Supplier</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="main">

  <div class="mat-row">
    <!-- Supplier Name -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Supplier Name</mat-label>
          <input type="text" matInput placeholder="Supplier Name" formControlName="supplierName">
           <mat-hint>Enter supplier name</mat-hint>
           <mat-error *ngIf="form.controls['supplierName'].invalid">Please provide a Supplier Name</mat-error>    
      </mat-form-field>
  </div>

  <!-- Supplier Addressline 1 -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Supplier AddressLine1</mat-label>
          <input type="text" matInput placeholder="Supplier AddressLine1" formControlName="supplierAddressLine1">
          <mat-hint>Enter supplier address line 1</mat-hint>
          <mat-error *ngIf="form.controls['supplierAddressLine1'].invalid">Please provide the Supplier's address</mat-error>    
      </mat-form-field>
    </div>

</div>

<div class="mat-row">

<!-- Contact Number -->
  <div class="mat-col-quarter">
    <mat-form-field appearance="outline" class="control-m">
        <mat-label>Contact Number</mat-label>
        <input type="text" matInput placeholder="Contact Number" formControlName="supplierNumber">
           <mat-hint>Enter supplier contact number</mat-hint>
           <mat-error *ngIf="form.controls['supplierNumber'].invalid">Please provide the Supplier's Contact Number</mat-error>    
    </mat-form-field>
  </div>

    <!-- Supplier Address Line 2 -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Supplier AddressLine2</mat-label>
          <input type="text" matInput placeholder="Supplier AddressLine2" formControlName="supplierAddressLine2">
          <mat-hint>Enter supplier address line 2</mat-hint>
          <mat-error *ngIf="form.controls['supplierAddressLine2'].invalid">Please provide the Supplier's address </mat-error>    
      </mat-form-field>
  </div>
  
</div>

  <div class="mat-row">

  <!-- Supplier email address -->
  <div class="mat-col-quarter">
    <mat-form-field appearance="outline" class="control-m">
        <mat-label>Supplier Email Address</mat-label>
        <input type="text" matInput placeholder="Supplier Email Address" formControlName="supplierEmail">
           <mat-hint>Enter supplier email address</mat-hint>
           <mat-error *ngIf="form.controls['supplierEmail'].invalid">Please provide the Supplier's email address</mat-error>    
    </mat-form-field>
</div>

 <!-- Supplier adressline 3 -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>Supplier AddressLine3</mat-label>
          <input type="text" matInput placeholder="Supplier AddressLine3" formControlName="supplierAddressLine3">
             <mat-hint>Enter supplier address line 3</mat-hint>
           
      </mat-form-field>
    </div>

  </div>

  <div class="mat-row">
    
    <!-- City/Town -->
    <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-m">
          <mat-label>City/Town</mat-label>
          <input type="text" matInput placeholder="City/Town" formControlName="supplierCityTown">
             <mat-hint>Enter supplier city/town</mat-hint>
             <mat-error *ngIf="form.controls['supplierCityTown'].invalid">Please provide the City or Town of the supplier</mat-error>    
      </mat-form-field>
    </div>

  <div class="mat-col-quarter">
    <mat-form-field appearance="outline" class="control-m">
        <mat-label>Postal Code</mat-label>
        <input type="text" matInput placeholder="Postal Code" formControlName="supplierPostalCode">
           <mat-hint>Enter supplier postal code</mat-hint>
           <mat-error *ngIf="form.controls['supplierPostalCode'].invalid">Please provide the Supplier's postal code</mat-error>    
    </mat-form-field>
  </div>
  </div>

  <div class="mat-row">
   

     <!-- Supplier save and cancel button -->
     <div class="mat-col-quarter">
      <div class="form-group" class="control-m" >
        <button mat-raised-button color ="primary" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a (click)="Close()" mat-button class="button">Cancel</a>
      </div>
    </div>
  </div>

</form>
</div>





