<div class="main">
    <div>
        <h2>Audit Trail</h2>

        <div class="search">
            <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                <li>
                    <div class="field has-addons">
                        <div class="control">
                            <input type="text" [(ngModel)]="searchValue" class="input" id="search"
                                placeholder="Search Audit Trail">
                        </div>
                        <div class="control">
                            <a class="button is-info" (click)="filter()">
                                <span class="fas fa-search search-icon"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <app-global-error *ngIf="dataNotFound"></app-global-error>

        <br>
        <br>
        <div>
            <table mat-table [dataSource]="dataSource" *ngIf="!dataNotFound" matSort>
                <!-- User ID Name Column -->
                <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID</th>
                    <td mat-cell *matCellDef="let element">{{element.usersId}} </td>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="auditTrailDescription">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Audit Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.auditTrailDescription}} </td>
                </ng-container>
               
                     <!-- Date Column -->
                <ng-container matColumnDef="auditTrailDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.auditTrailDate | date:"dd/MM/yyyy"}} </td>
                </ng-container>

                     <!-- Time Column -->
                 <ng-container matColumnDef="auditTrailTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.auditTrailTime }} </td>
                </ng-container>

             
               

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>



    </div>
