h2 {
  text-align: center;
  font-weight: 400;
  font-size: 45px;
}

.content {
margin: 0;
position:inherit;
top: 25%;
left: 25%;
}

table {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(66, 108, 224);
}

th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}

#addBtn {
    margin-top: 30px;
    margin-left: auto;
    display: inline-block;
}
button {
    float: right;
}

.more-button {
    text-align: center;
}

.example-container {
    margin-left: 100px;
    margin-right: 100px;
}
