  
h1 {
    margin: 70px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 45px;
}
table {
    margin-top: 20px;
    width: 100%;
}

#addBtn {
    margin-top: 30px;
    margin-left: auto;
    display: inline-block;
}
button {
    float: right;
}

.more-button {
    text-align: center;
}

.example-container {
    margin-left: 100px;
    margin-right: 100px;
}
td {
    width: auto;
}

.table {
    width: 100%;
    margin: 0 auto;
}