<div class="main">
  <h1>User Role</h1>

  <div class="mat-elevation-z8 table" >
      <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> User Role Name </th>
          <td mat-cell *matCellDef="let element">{{element.userRoleName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> User Role Description </th>
              <td mat-cell *matCellDef="let element"> {{element.userRoleDescription}} </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
                  routerLink = "/userRoleAdd"
                  >
                      <mat-icon>add</mat-icon>
                    </button>
              </th>
              <td mat-cell *matCellDef="let element">
                  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                      <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item [routerLink]="['/userRoleEdit', element.id]" >Update User Role</button>
                  <button mat-menu-item (click)="deleteUserRole(element)">Delete User Role</button>
                  </mat-menu>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
  </div>

