<div class="content">

  <a *ngIf="isAddMode" mat-mini-fab color="primary" href="http://localhost:8080/AddCourier.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>

              <a *ngIf="!isAddMode" mat-mini-fab color="primary" href="http://localhost:8080/UpdateCourier.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>

<h2 *ngIf="isAddMode">Add Courier</h2>
<h2 *ngIf="!isAddMode">Edit Courier</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Courier Name</mat-label>
                <input type="text" matInput placeholder="Courier Name" formControlName="courierName">
                <mat-hint>Enter courier name</mat-hint>
                 <mat-error *ngIf="form.controls['courierName'].invalid">Please enter a Courier Name</mat-error>
            </mat-form-field>
        </div>
      </div>

      <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Courier Type</mat-label>
                <mat-select formControlName="courierTypeID">
                   <mat-option *ngFor="let c of collection" [value]="c.courierTypeId">{{c.courierTypeDescription}}</mat-option>
                </mat-select>
                <mat-hint>Select courier type</mat-hint>
                <mat-error *ngIf="form.controls['courierTypeID'].invalid">Please Select a Courier Type</mat-error>
              </mat-form-field>
        </div>
      </div>

    <div class="mat-row">
        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Courier Email Address</mat-label>
              <input type="text" matInput placeholder="email" formControlName="courierEmail">
              <mat-hint>Enter courier email address</mat-hint>
               <mat-error *ngIf="form.controls['courierEmail'].invalid">Please enter Courier Email Address</mat-error>
          </mat-form-field>
      </div>
    </div>

    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Courier Contact Number</mat-label>
                <input type="text" matInput placeholder="contactNumber" formControlName="courierNumber">
                <mat-hint>Enter courier contact number</mat-hint>
                 <mat-error *ngIf="form.controls['courierNumber'].invalid">Please enter Courier Contact Number</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="mat-row">
      <div class="mat-col-quarter">
      <div class="form-group" class="control-m">
        <button mat-raised-button color ="primary" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a (click)="Close()" mat-button>Cancel</a>
      </div>
    </div>
    </div>

</form>
</div>
