<div class="content">

<h1 *ngIf="isAddMode">Add Courier</h1>
<h1 *ngIf="!isAddMode">Edit Courier</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Courier Name</mat-label>
                <input type="text" matInput placeholder="Courier Name" formControlName="courierName">
            </mat-form-field>
        </div>
      </div>

      <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Courier Type</mat-label>
                <mat-select formControlName="courierTypeID">
                   <mat-option *ngFor="let c of collection" [value]="c.courierTypeId">{{c.courierTypeDescription}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
      </div>

    <div class="mat-row">
        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
              <mat-label>Courier Email Address</mat-label>
              <input type="text" matInput placeholder="email" formControlName="courierEmail">
          </mat-form-field>
      </div>
    </div>

    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Courier Contact Number</mat-label>
                <input type="text" matInput placeholder="contactNumber" formControlName="courierNumber">
            </mat-form-field>
        </div>
    </div>

    <div class="mat-row">
      <div class="form-group" class="control-m">
        <button mat-raised-button color ="primary" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a (click)="Close()" mat-button>Cancel</a>
      </div>
    </div>

</form>
</div>