<section class="hero is-info">


  <div class="hero-body">
    <div class="container">
      <p class="title">
        NKAP Bolting
      </p>
      <p class="subtitle">
        Products
      </p>
    </div>
  </div>

  <div class="help">
  <button  routerLink="/products" class="button is-info is-rounded my-float">
    <a href="http://localhost:8080/PlaceSupplierOrder.html" target="_blank">
               <i class="fa fa-question-circle" aria-hidden="true"></i>
              </a>
  </button>
</div>
  
<!-- This is the menubar at the top to go to specific product category -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <ng-container *ngFor="let prodcat of productCategories">
          <li>
            <a (click)="loadbyCat(prodcat)">
            <span>{{prodcat.productCategoryDescription}}</span>
            </a>
          </li>
        </ng-container>
        </ul>
      </div>
    </nav>
  </div>
</section>


  
<!-- These are the cards displaying the category types -->
    <div class="row"> 
      <ng-container *ngFor="let category of categoryTypes" ng-controller="check">       
          <div class="card col-md-3">

              <center><img src="{{category.categorytypeimage}}" alt=""></center>
              
              <p class="title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{category.ProductItemname}}</p>
              <p class="subtitle" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{category.categorytypedescription}}</p>
              <p class="subtitle" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{category.itemdescription}}</p>
              
              <h2><strong>Price:</strong> R{{category.VATInc | number:'0.1-2'}}
              </h2> 
              
              <button class="button is-info is-rounded" (click)=addtocart(category)>Add to Cart</button>
            </div>
 
      </ng-container>
  </div>


  <div class="row" id="allProducts"> 
    <ng-container *ngFor="let category of productItems">         
        <div class="card col-md-3">

            <center><img src="{{category.categorytypeimage}}" alt=""></center>
            
            <p class="title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{category.ProductItemname}}</p>
            <p class="subtitle" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{category.categorytypedescription}}</p>
            <p class="subtitle" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{category.itemdescription}}</p>


            <h2><strong>Price:</strong> R{{category.VATInc | number:'0.1-2'}}</h2> 
            
            <button class="button is-info is-rounded" (click)=addtocart(category)>Add to Cart</button>
          </div>
    </ng-container>
</div>

