<app-layout>
  <mat-sidenav-container>

    <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>

      <main>
        <div class="content">
        <router-outlet></router-outlet>
        </div>
        
        <footer>
          <div class="content has-text-centered">
            
           
            <a href="https://u19146851.wixsite.com/nkapbolting">© NKAP Bolting </a> 
            <strong>System 2021</strong> by 
              <a href="https://ds3solutions370.wixsite.com/inf370">DS3 Solutions</a> .      
          </div>
        </footer>


      </main>


    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>







