<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- Navbar -->

<div class="w3-bar w3-blue w3-top w3-large" style="height:46px">
  <img src="assets/images/transparentnkaplogo.png" class="topheaderlogo" alt="logo">
  <h3 class="w3-wide w3-left topheadertext"><i><b>NKAP Bolting</b></i></h3>
      <p class="w3-right">
        <!-- <i class="fa fa-shopping-cart w3-margin-right shoppingposition"></i> -->
      </p>
  </div>

  <!-- Sidebar -->

  <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="#Homepage" class="menu-item"><img src="assets/images/Homepage.png" class="w3-margin-right" width=20px height=20px>Homepage</a>

    <button class="menu-item">
      <img src="assets/images/admin.png" class="w3-margin-right" width=20px height=20px> Admin
  <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#SearchCustomer" style="text-decoration:none">Search Customer</a>
      <a href="#AddUserRole" style="text-decoration:none">Add User Role</a>
      <a href="#SearchUserRole" style="text-decoration:none">Search User Role</a>
    </div>

    <button class="menu-item"><img src="assets/images/employee.png" class="w3-margin-right" width=20px height=20px>Suppliers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#AddEmployee" style="text-decoration:none">Add Employee</a>
      <a href="#SearchEmployee" style="text-decoration:none">Search Employee</a>
    </div>

    <button class="menu-item"><img src="assets/images/supplier.png" class="w3-margin-right" width=20px height=20px>Suppliers

      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#AddSupplier" style="text-decoration:none">Add Supplier</a>
      <a href="#SearchSupplier" style="text-decoration:none">Search Supplier</a>
      <a href="#PlaceSupplierOrder" style="text-decoration:none">Place Supplier Order</a>
      <a href="#ReceiveSupplierOrder" style="text-decoration:none">Receive Supplier Order</a>
      <a href="#MakeSupplierPayment" style="text-decoration:none">Make Supplier Payment</a>
    </div>

    <button class="menu-item"><img src="assets/images/admin.png" class="w3-margin-right" width=20px height=20px>Admin
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container" style="text-decoration:none">
      <a href="#SearchOnlineSales" style="text-decoration:none">Search Online Sales</a>
      <a href="#DoStockTake" style="text-decoration:none">Do Stock-Take</a>
      <a href="#WriteOffStock" style="text-decoration:none">Write Off Stock</a>
      <a href="#AssignDeliveryOrder" style="text-decoration:none">Assign Delivery Order</a>
    </div>

      <button class="menu-item"><img src="assets/images/product.png" class="w3-margin-right rotateimg90" width=20px height=20px>Products
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container" style="text-decoration:none">
      <a href="#ProductCategory" style="text-decoration:none">Product Category</a>
      <a href="#CategoryType" style="text-decoration:none">Category Type</a>
      <a href="#Item" style="text-decoration:none">Item</a>
    </div>

      <button class="menu-item"><img src="assets/images/promotion.png" class="w3-margin-right" width=20px height=20px>Promotions
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#AddSpecial" style="text-decoration:none">Add Special</a>
      <a href="#SearchSpecial" style="text-decoration:none">Search Special</a>
    </div>

      <button class="menu-item"><img src="assets/images/deliveryshift.png" class="w3-margin-right" width=20px height=20px>Delivery Shift
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#CreateDeliveryShift" style="text-decoration:none">Create Delivery Shift</a>
      <a href="#SearchDeliveryShift" style="text-decoration:none">Search Delivery Shift</a>
    </div>

      <button class="menu-item"><img src="assets/images/Courier.png" class="w3-margin-right" width=20px height=20px>Courier
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#AddCourier" style="text-decoration:none">Add Courier</a>
      <a href="#SearchCourier" style="text-decoration:none">Search Courier</a>
    </div>

      <button class="menu-item">

        <img src="assets/images/Report.png" class="w3-margin-right" width=20px height=20px>Reports
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#GenerateReport" style="text-decoration:none">Generate Report</a>
    </div>

   <a href="#Logout" class="menu-item"><img src="assets/images/Logout.png" class="w3-margin-right" width=20px height=20px>Logout</a>
   <a href="#Help" class="menu-item"><img src="assets/images/Help.png" class="w3-margin-right" width=20px height=20px>Help</a>
  </nav>

  <!-- Main content: shift it to the right by 230 pixels when the sidebar is visible -->
  <div class="main">
    <div>
        <img src="assets/images/Banner.png" postion=stretch width=100%>
    </div>

    <footer>
      <div class="w3-container">
        <p> © NKAP Bolting 2021</p>
        <p>DS3 Solutions</p>
      </div>
    </footer>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("menu-item");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>

<router-outlet></router-outlet>
