<div class="main">


  <button class="button is-info is-rounded my-float">
    <a href="http://localhost:8080/Profile.html" target="_blank">
               <i class="fa fa-question-circle" aria-hidden="true"></i>
              </a>
  </button>

<div class="help">
 <a mat-mini-fab color="primary" href="http://localhost:8080/Profile.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </a> 
</div>

    <div class="container emp-profile">
        <!-- <form method="post" > -->
        <div class="row">

            <div class="col-md-8">
                <div class="profile-head">
                    <section class="section">
                        <h2 class="subtitle">
                            {{customer.customerBusinessName}}
                        </h2>
                        Owner: {{customer.customerName}} {{customer.customerSurname}}
                    </section>
                </div>
            </div>

            <div class="col-md-4">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p><button type="submit" align="right" (click)="editProfile()"
                                    class="button is-rounded">Edit profile</button></p>
                            <p><button align="right" class="button is-danger is-rounded" (click)="deleteProfile()">Delete profile</button></p>

                        </div>
                    </div>
                </article>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <label>Title</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{customer.titleDesc}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Name</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{customer.customerName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Surname</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{customer.customerSurname}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Email</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{customer.customerEmailAddress}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Name</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{customer.customerBusinessName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>VAT registration Number</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{customer.customerVATReg}}</p>
                    </div>
                </div>
            </div>
        </div>
        <p><button type="submit" align="right" (click)="back()" class="button is-link is-rounded">Back</button></p>
    </div>
</div>