
<div class="main">
        <div class="container emp-profile">
            <!-- <form method="post" > -->
                <div class="row">

                    <div class="col-md-8">
                        <div class="profile-head">
                            <section class="section">
                                <h2 class="subtitle">BarryBolts</h2>
                                 Barry Benson
                              </section>

                        </div>
                    </div>

                    <div class="col-md-4">  
                          <article class="media">                              
                            <div class="media-content">
                              <div class="content">  
                                <p><button type="submit" class="button is-rounded">Edit profile</button></p>
                                <p><button class="button is-danger is-rounded">Delete profile</button></p>    
                              </div>
                            </div>
                          </article>
                     </div>

                </div>
                <hr>
                <div class="row" > 
                    <div class="col-md-12"><div class="row">
                            <!-- customerBusinessName: "BarryBolts"
                            customerCellphoneNumber: "0754312347"
                            customerEmailAddress: "BarryB@gmail.com"
                            customerId: 1
                            customerName: "Barry"
                            customerSurname: "Benson"
                            customerVATReg: "P568Z7109"
                            titleDesc: "Mr."
                            titleID: 1 -->
                            <div class="col-md-6" >
                                <label>Customer Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>4</p>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Kshiti Ghelani</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Surname</label>
                                </div>
                                <div class="col-md-6">
                                    <p>kshitighelani@gmail.com</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>123 456 7890</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Business Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Gner</p>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <label>VAT registration Number</label>
                            </div>
                            <div class="col-md-6">
                                <p>PY73rwy9q8r7e</p>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </form>-->
        </div>
</div>