<!-- Modal -->



<mat-card>
    <h1 mat-dialog-title mat-card-header class="title">
        View Sale
    </h1>

    <mat-dialog-content>

        <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile>
                <div class="label" for="saleID">SALE NUMBER:</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="info">{{sale.saleID}}</div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="label" for="saleOrderDate">SALE DATE:</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="info">{{sale.saleOrderDate | date:"dd/MM/yyyy"}}</div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="label" for="orderStatusDescription">ORDER STATUS:</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="info">{{sale.orderStatusDescription}}</div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="label" for="customerName">CUSTOMER:</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="info">{{sale.customerName}} {{sale.customerSurname}}</div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="label" for="customerBusinessName">BUSINESS NAME:</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="info">{{sale.customerBusinessName}}</div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="label" for="paymentTypeDescription">PAYMENT TYPE: </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="info">{{sale.paymentTypeDescription}}</div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="label" for="paymentDate">PAYMENT DATE:</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="info">{{sale.salePaymentDate| date:"dd/MM/yyyy"}}</div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="label" for="salePaymentAmount">PAYMENT AMOUNT:</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="info">R {{sale.salePaymentAmount | number:'1.1-2'}}</div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="label" for="saleOrderRecieveType">RECEIVE TYPE:</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="info">{{sale.saleOrderRecieveType}}</div>
            </mat-grid-tile>


        </mat-grid-list>

        <br>
        <br>

        <div rowHeight="700px" class="label" for="SaleOrderDescription">ITEMS ORDERED:</div>
        <div class="items">
            <ol>
                <li *ngFor="let name of sale.saleOrderDescription.split(',')">
                    {{name}}
                </li>
            </ol>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions mat-card-actions class=" actionbuttons">

        <button mat-raised-button *ngIf="sale.orderStatusDescription ==='Needs Packing'" color="primary" type="submit"
            (click)="PackOrder()">
            <span *ngIf="loading"></span>
            Pack Order
        </button> &nbsp;

        <a (click)="closeDialog()" mat-button>Back</a>

    </mat-dialog-actions>
</mat-card>