<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>View Sale</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile for="saleID">Sale Number:</mat-grid-tile>
        <mat-grid-tile>{{sale.saleID}}</mat-grid-tile>

        <mat-grid-tile for="SaleOrderDescription">Items ordered:</mat-grid-tile>
        <mat-grid-tile>
            {{sale.saleOrderDescription}}
        </mat-grid-tile>

        <mat-grid-tile for="saleOrderDate">Sale Date:</mat-grid-tile>
        <mat-grid-tile>{{sale.saleOrderDate | date:"dd/MM/yyyy"}}</mat-grid-tile>

        <mat-grid-tile for="orderStatusDescription">Order Status:</mat-grid-tile>
        <mat-grid-tile>{{sale.orderStatusDescription}}</mat-grid-tile>

        
        <mat-grid-tile for="customerName">Customer:</mat-grid-tile>
        <mat-grid-tile>{{sale.customerName}}</mat-grid-tile>

        <mat-grid-tile for="customerBusinessName">Business Name:</mat-grid-tile>
        <mat-grid-tile>{{sale.customerBusinessName}}</mat-grid-tile>

        <mat-grid-tile for="paymentTypeDescription">Payment Type: </mat-grid-tile>
        <mat-grid-tile>{{sale.paymentTypeDescription}}</mat-grid-tile>

        <mat-grid-tile for="SaleOrderDescription">Payment Date:</mat-grid-tile>
        <mat-grid-tile>{{sale.saleOrderDescription| date:"dd/MM/yyyy"}}</mat-grid-tile>

        <mat-grid-tile for="salePaymentAmount">Payment Amount:</mat-grid-tile>
        <mat-grid-tile>{{sale.salePaymentAmount}}</mat-grid-tile>

        <mat-grid-tile for="saleOrderRecieveType">Receive Type:</mat-grid-tile>
        <mat-grid-tile>{{sale.saleOrderRecieveType}}</mat-grid-tile>


   </mat-grid-list>
    
                <!-- <label for="saleID">Sale Number: </label>
                <span> &nbsp;{{sale.saleID}}</span>
                    
                <p><label for="SaleOrderDescription">Items ordered: </label>
                    <span> &nbsp;{{sale.saleOrderDescription}}</span>
       
                <p><label for="saleOrderDate">Sale Date: </label>
                    <span> &nbsp;{{sale.saleOrderDate | date:"dd/MM/yyyy"}}</span>
         
                <p><label for="orderStatusDescription">Order Status: </label>
                    <span> &nbsp;{{sale.orderStatusDescription}}</span>

                <p><label for="customerName">Customer: </label>
                    <span> &nbsp;{{sale.customerName}} &nbsp;{{sale.customerSurname}}</span>
           
                <p><label for="customerBusinessname">Business Name: </label>
                    <span> &nbsp;{{sale.customerBusinessName}}</span>
          
                <p><label for="paymentType">Payment Type: </label>
                    <span> &nbsp;{{sale.paymentTypeDescription}}</span>

                <p><label for="paymentDate">Payment Date: </label>
                    <span> &nbsp;{{sale.salePaymentDate | date:"dd/MM/yyyy"}}</span>
          
                <p><label for="SalePaymentAmount">Payment Amount: </label>
                    <span> &nbsp;{{sale.salePaymentAmount}}</span>
          
                <p><label for="receiveType">Receive Type: </label>
                    <span> &nbsp;{{sale.saleOrderRecieveType}}</span>
       -->
  </mat-card-content>
  <mat-card-actions>
    
                    <button mat-raised-button color="primary" type="submit" (click)="PackOrder()" [disabled]="loading">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Pack Order
                    </button>
                 
                    <a (click)="Close()" mat-button>Cancel</a>

  </mat-card-actions>
</mat-card>

<!-- <div class="contentx" [hidden]="isHidden">

         <h2>Pack Order</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mat-row">
                <div class="mat-col-quarter">
                    <section class="checkbox" align="left">

                        <h3>Select An Option to Pack Order</h3>
                        <p> -->
<!-- <input type="checkbox" name="test"
                                [checked]="currentlyChecked === check_box_type.READY_FOR_DELIVERY"
                                (click)="selectCheckBox(check_box_type.READY_FOR_DELIVERY)">  -->
<!-- [ngClass]="{'disable':sale.saleOrderRecieveType ===0}" -->
<!-- Ready for Delivery 
                         </p>
                        <p>
                            <input type="checkbox" name="test"
                                [checked]="currentlyChecked === check_box_type.READY_FOR_COLLECTION"
                                (click)="selectCheckBox(check_box_type.READY_FOR_COLLECTION)">Ready for Collection
                        </p>
                    </section>
                </div>
            </div>

            <div class="mat-row">
                <div class="mat-col-quarter">
                    <div class="form-group" class="control-m">
                        <button mat-raised-button color="primary" [disabled]="loading">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Confirm
                        </button>
                        <button [routerLink]="['/onlineSales']" (click)="Close()" mat-button>Cancel</button>
                    </div>
                </div>
            </div> -->

<!-- <div class="contentx" [hidden]="isHidden">

                <h2>Pack Order</h2>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mat-row">
                        <div class="mat-col-quarter">
                            <section class="checkbox" align="left">

                                <h3>Select An Option to Pack Order</h3>
                                <p>
                                    
                                    <input type="checkbox" name="test"
                                        [checked]="currentlyChecked === check_box_type.READY_FOR_DELIVERY"
                                        (click)="selectCheckBox(check_box_type.READY_FOR_DELIVERY)"
                                        (click)="Delivery()">&nbsp;Ready for Delivery
                                </p>
                                <p>
                                    <input type="checkbox" name="test"
                                        [checked]="currentlyChecked === check_box_type.READY_FOR_COLLECTION"
                                        (click)="selectCheckBox(check_box_type.READY_FOR_COLLECTION)"
                                        (click)="Collection()">&nbsp;Ready for Collection
                                </p>
                            </section>
                        </div>
                    </div>

                    <div class="mat-row">
                        <div class="mat-col-quarter">
                            <div class="form-group" class="control-m">
                                <button mat-raised-button color="primary" [routerLink]="['/onlineSales']"
                                    (click)="Confirm()" [disabled]="loading">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Confirm
                                </button>
                                <button [routerLink]="['/onlineSales']" (click)="Close()" mat-button>Cancel</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div> -->

<!-- <div class="mat-elevation-z8 table">
    <table mat-table matSort> -->
<!-- Item -->
<!-- <ng-container matColumnDef="productItemName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
            <td mat-cell *matCellDef="let element">{{element.productItemName}} </td>
        </ng-container> -->

<!-- Quantity  -->
<!-- <ng-container matColumnDef="quantityOnHand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantityOnHand}}</td>
        </ng-container> -->


<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
<!-- </table>
</div> -->