.disable {
    background-color: rgba(0,0,0,.12);
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
  }
.example-card {
  max-width: 400px;
  
  left: 35%;
}

.example-header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  text-align: center;
}
  .contentx,.content1 {
    // align-content: center;
    flex: 50%;
    width: 50%;
    float: left;
    padding: 10px;
    margin: 0;
    //position: absolute;
    top: 15%;
    right: 25%;
    width: 50%;
  }

  .content {
    flex: 50%;
    width: 50%;
    float: left;
    padding: 10px;
  }

  .content1 {
    text-align : left;
  }
  
  table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    // background-color: #2326caa6;
    background-color: rgba(34, 34, 235, 0.76);
    color: White;
    font-weight: 40;
    font-size: 16px;
    text-align: justify;
    
  }

  label{
    font-weight: bold;

    left:20px;
  }

  span{
    right:20px;
  }