<ng-container *ngIf="products.length !=0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Product Image</th>
              <th>Product Name</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of products;let i = index">
              <td>{{i+1}}</td>
              <td><img src="{{item.categorytypeimage}}" alt=""></td>
              <td style="width: 25%;">{{item.ProductItemname}}</td>
              <td style="width: 12%;">{{item.itemdescription}}</td>
              <td style="width: 12%;">
                <input id="quantity" type="number" class="no-spinners" placeholder="1" [value]="item.num"
                  [(ngModel)]="item.num" min="1" (click)="reloadCurrentPage()" />
              </td>
              <td *ngIf="item.Specialprice" style="width: 12%;">R{{item.Specialprice | number:'0.1-2'}}</td>
              <td *ngIf="item.Specialprice === 0" style="width: 12%;">R{{item.VATInc | number:'0.1-2'}}</td>

              <!-- multiply price by the Quantity.value of the numeric up down -->
              <td>
                <button (click)="removeItem(item)" class="button is-rounded is-danger is-outlined"><i
                    class="fas fa-trash-alt"></i></button>
              </td>
            </tr>

            <tr>
              <td colspan="3">

              </td>
              <td><button (click)="emptycart()" class="button is-rounded is-danger is-outlined">Empty Cart</button></td>
              <td><button routerLink="/products" class="button is-info is-rounded is-outlined">Shop More</button></td>
              <td>
                <button class="button is-success is-rounded is-outlined" (click)=openmodal()
                  id="launchModal">Checkout</button>
              </td>
              <td>

                <div class="box">
                  VAT total: R {{vatTotals | number:'0.1-2'}}<br />
                </div>
                <!-- <span class="tag is-large is-success is-rounded">VAT total: R {{vatTotals | number:'0.1-2'}}</span> -->
                <span class="tag is-large is-success is-rounded"><strong>Grand Total : R{{grandTotal |
                    number:'0.1-2'}}</strong></span>
                <!-- vatInclusive -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</ng-container>

<div class="help">
  <button class="button is-info is-rounded my-float">
    <a href="http://localhost:8080/Cart.html" target="_blank">
               <i class="fa fa-question-circle" aria-hidden="true"></i>
              </a>
  </button>
</div>

<ng-container *ngIf="products.length ==0">
  <div class="container has-text-centered is-large">
    <div class="notification is-warning is-large">
      <p class="title">
        Your cart is empty!
      </p>
      <p class="subtitle">
        Add item to it now
      </p>
      <button routerLink="/products" class="button is-dark is-rounded is-outlined">Shop Now</button>
    </div>
  </div>

</ng-container>


<!-- Please Log in -->
<!-- <button class="button is-success is-rounded is-outlined" (click)=userLogin() id="launchModal">Checkout</button>

  <div id="loginModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            Log in or Register
         </h3>
         <button type="button" class="btn-close btn-close-black" (click)=close()></button>
        </div>

        <div>
          <label class="label">Please Log in or register before proceeding to Checkout</label>
        
          <button routerLink="/login" class="button is-dark is-rounded is-outlined">Log In</button>
          <button routerLink="/newregister" class="button is-dark is-rounded is-outlined">Register</button>
        </div>
 
    </div>
  </div> -->







<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Delivery or Collection
          <button type="button" class="btn-close btn-close-black" (click)=close()></button>
        </h3>
      </div>
      <form #myForm="ngForm" (submit)="submitForm(myForm)" novalidate>
        <div class="control">
          <!-- Customer Email -->
          <!--  <div>
                  <label class="label">Please enter your email address:</label>
                  <div class="control"> -->
          <!-- <input class="input" type="email" [formControl]="email" placeholder="hello@mymail.com" ngModel required>
                   </div> 
                </div>-->

          <!-- ReceiveType -->
          <div>
            <label class="label">Please select how you would like to receive your order:</label>
            <input id="delivery" type="radio" value="delivery" name="method" ngModel required>
            <label for="male">Delivery</label>
          </div>


          <div>
            <input id="collection" type="radio" value="collection" name="method" ngModel required>
            <label for="female">Collection</label>
          </div>

          <div *ngIf="isSubmitted && myForm.invalid">
            <p>Please select a value</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)=close()>Close</button>
          <button type="submit" class="btn btn-primary">Proceed</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- DELIVERY ADDRESS Modal -->

<div class="modal" id="deliveryModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Delivery Address
          <button type="button" class="btn-close btn-close-black" (click)=closeDeliveryModal()></button>
        </h3>
      </div>
      <form [formGroup]="addressform" (submit)="DeliveryCheckout()">
        <div class="control"></div>

        <!-- Customer  -->
        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
            <mat-label>Please enter your address:</mat-label>
            <input type="text" matInput placeholder="Address Line 1" formControlName="AddressLine1">
            <mat-hint>Enter Address</mat-hint>
            <mat-error *ngIf="addressform.controls['AddressLine1'].invalid">Please enter address
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Customer  -->
        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
            <mat-label>Please enter your address:</mat-label>
            <input type="text" matInput placeholder="Address Line 2" formControlName="addressline2">
            <mat-hint>Enter customer Address </mat-hint>
            <mat-error *ngIf="addressform.controls['addressline2'].invalid">Please enter address
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Customer  -->
        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
            <mat-label>Please enter your Province:</mat-label>
            <input (blur)='onBlur()' [(ngModel)]="selectedOption" name="province" list="provincename" matInput
              formControlName="provinceDescription" type="text" placeholder="Province">
            <datalist id="provincename">
              <option *ngFor="let province of provinceList" placeholder="Province" value="{{province.state_name}}">
            </datalist>
            <mat-hint>Enter Province </mat-hint>
            <mat-error *ngIf="addressform.controls['provinceDescription'].invalid">Please enter province
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Customer  -->
        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
            <mat-label>Please enter your City:</mat-label>
            <input [(ngModel)]="selectedOption2" name="city" list="cityname" matInput formControlName="cityDescription"
              type="text">
            <datalist id="cityname">
              <option *ngFor="let city of cityList" placeholder="City" value="{{city.city_name}}">
            </datalist>
            <div *ngIf="selectedOption2==='Port Shepstone' || selectedOption2==='Margate'|| selectedOption2==='Hibberdene'
              || selectedOption2=== 'Port Edward'|| selectedOption2=== 'South Broom'|| selectedOption2=== 'Shelley Beach'|| selectedOption2=== 'Umtentweni'
              || selectedOption2=== 'Ramsgate'; else courier">
              This is a local delivery. R25 will be added to total.
            </div>
            <ng-template #courier>
              This is a courier delivery. R50 will be added to total.
            </ng-template>

            <mat-hint>Enter city</mat-hint>
            <mat-error *ngIf="addressform.controls['cityDescription'].invalid">Please enter city
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Customer  -->
        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-m">
            <mat-label>Please enter your Postal Code:</mat-label>
            <input type="text" matInput placeholder="Postal Code" formControlName="addressPostalCode">
            <mat-hint>Enter postal code</mat-hint>
            <mat-error *ngIf="addressform.controls['addressPostalCode'].invalid">Invalid postal code
            </mat-error>
          </mat-form-field>
        </div>


        <div class="modal-footer">

          <!-- <div class="box">
          <button id="btnTotal" type="button" class="btn btn-secondary" (click)="onBlurCity()">Totals:</button>
          
          <div id="grandTotalDelivery">
            VAT total: R {{vatTotals | number:'0.1-2'}}<br/>
            <strong>Grand Total : R{{grandTotal | number:'0.1-2'}}</strong>

          </div>
        </div> -->

          <button type="button" class="btn btn-secondary" (click)="closeDeliveryModal()">Close</button>
          <!-- <button id="btnTotal" type="button" class="btn btn-secondary" (click)="onBlurCity()">Totals</button> -->

          <button type="submit" class="btn btn-primary">Checkout</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--TOTAL MODAL-->


<div class="modal" id="totalModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Confirm Total
          <button type="button" class="btn-close btn-close-black" (click)=closeDeliveryModal()></button>
        </h3>
      </div>
      <div class="box">
        This is your Total:

        <div id="grandTotalDelivery">
          VAT total: R {{vatTotals | number:'0.1-2'}}<br />
          <strong>Grand Total : R{{grandTotal | number:'0.1-2'}}</strong>

        </div>


        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" (click)="closeTotalModal()">Back</button>

        </div>
      </div>
    </div>
  </div>





  <!-- Please Log in -->

  <!-- <button class="button is-success is-rounded is-outlined" (click)=userLogin() id="launchModal">Display Final Price</button>
  <div id="loginModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            Log in or Register
         </h3>
         <button type="button" class="btn-close btn-close-black" (click)=close()></button>
        </div>

        <div>
          <label class="label">This is your Grant Total</label>
        
          <div class="box">
            VAT total: R {{vatTotals | number:'0.1-2'}}<br/>
            <strong>Grand Total : R{{grandTotal | number:'0.1-2'}}</strong>
          </div>
          <span class="tag is-large is-success is-rounded"><strong>Grand Total : R{{grandTotal | number:'0.1-2'}}</strong></span>
            
          <button routerLink="/login" class="button is-dark is-rounded is-outlined">Log In</button>
          <button routerLink="/newregister" class="button is-dark is-rounded is-outlined">Register</button>
        </div>
 
    </div>
  </div>  -->




























  <!--Open Google Maps Modal-->
  <!-- <div class="modal" id="deliveryModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Checkout - Delivery Details
          <button type="button" class="btn-close btn-close-black" (click)=closeDeliveryModal()></button>
       </h3>
      </div>
      <div class="modal-body">   
          <div class="panel">
            <div>
              <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg" alt="">
              <span class="sb-title">Address Selection</span>
            </div>
            <input type="text" placeholder="Address" id="location"/>
            <input type="text" placeholder="Apt, Suite, etc (optional)"/>
            <input type="text" placeholder="City" id="locality"/>
            <div class="half-input-container">
              <input type="text" class="half-input" placeholder="State/Province" id="administrative_area_level_1"/>
              <input type="text" class="half-input" placeholder="Zip/Postal code" id="postal_code"/>
            </div>
            <input type="text" placeholder="Country" id="country"/>
            <button class="button-cta">Checkout</button>    
            </div>
            <div class="map" id="map" alt="DISPLAY MAP HERE"></div>      
        </div>
  </div> 
</div>-->
  <!--Close Google Maps Modal-->