<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                            <td style="width: 25%;">{{item.description}}</td>
                            <th style="width: 12%;">{{item.price}}</th>
                            <td style="width: 12%;">{{item.quantity}}</td>
                            <td style="width: 12%;">{{item.total}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr> -->
                        <tr *ngFor="let item of products;let i = index">
                                <td>{{i+1}}</td>
                                <td style="width: 25%;">{{item.productItemName}}</td>
                                <td><img style="width: 120px;" src="{{item.categoryTypeImage}}" alt=""></td>
                                <th style="width: 12%;">{{item.itemDescription}}</th>
                                <td style="width: 12%;">R{{item.productItemCost}}</td>
                                <td>
                                    <button (click)="removeItem(item)" class="button is-rounded is-danger is-outlined"><i class="fas fa-trash-alt"></i></button>
                                </td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td><button (click)="emptycart()" class="button is-rounded is-danger is-outlined">Empty Cart</button></td>
                            <td><button routerLink="/products" class="button is-info is-rounded is-outlined">Shop More</button></td>
                            <!-- Create a ckeckout button that will open the YOCO payment gateway popup-->
                            <td>
                                <!-- <button (click)="transactionCheckout()" id="checkout-button" class="button is-success is-rounded is-outlined">Checkout</button> -->
                                <button (click)="makePayment(grandTotal)" id="checkout-button" class="button is-success is-rounded is-outlined">Checkout2</button>
                                
                                <!-- this is highkey cheating because it does not create a new token for each transaction
                                it also does not get the GRANDTOTAL from out website and display it in the PAYSTACK website-->
                                <!-- <input type="button"  class="button is-success is-rounded is-outlined" value="Fake Checkout" onclick="window.location.href='https://checkout.paystack.com/26ho92bd1vjeght'"/>                                 -->
                            
                            
                            <!-- The text attribute can also take custom html, but does not compile directives yet-->
'
                            </td>
                            <td>
                                <span class="tag is-large is-success is-rounded"><strong>Grand Total : R{{grandTotal}}</strong></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container has-text-centered">
            <div class="notification is-warning">
                <p class="title">
                    Your cart is empty!
                  </p>
                  <p class="subtitle">
                    Add item to it now
                  </p>            
                  <button routerLink="/products" class="button is-dark is-rounded is-outlined">Shop Now</button>
            </div>
    </div>

</ng-container>


<!-- MODAL -->


<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
<div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input">
    </div>
  </div>
  
  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-success" type="text" placeholder="Text input" value="bulma">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
    <p class="help is-success">This username is available</p>
  </div>
  
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <p class="help is-danger">This email is invalid</p>
  </div>
  
  <div class="field">
    <label class="label">Subject</label>
    <div class="control">
      <div class="select">
        <select>
          <option>Select dropdown</option>
          <option>With options</option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="field">
    <label class="label">Message</label>
    <div class="control">
      <textarea class="textarea" placeholder="Textarea"></textarea>
    </div>
  </div>
  
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox">
        I agree to the <a href="#">terms and conditions</a>
      </label>
    </div>
  </div>
  
  <div class="field">
    <div class="control">
      <label class="radio">
        <input type="radio" name="question">
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="question">
        No
      </label>
    </div>
  </div>
  
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>

</div>
</div> 
