<h1>Unscheduled Deliveries</h1>

<div class="search">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
            <div class="field has-addons">
                <div class="control">
                    <input type="text" [(ngModel)]="searchValue" class="input" id="search" placeholder="Type here...">
                </div>
                <div class="control">
                    <a class="button is-info" (click)="filter()">
                        <span class="fas fa-search search-icon"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<app-global- error *ngIf="dataNotFound"></app-global->

<div class="mat-elevation-z8 table">
    <table mat-table [dataSource]="dataSource" matSort *ngIf="!dataNotFound">
        <!-- [dataSource]="dataSource"  -->
        <!-- SaleID -->
        <ng-container matColumnDef="saleId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sale ID </th>
            <td mat-cell *matCellDef="let element">{{element.saleId}}</td>
        </ng-container>

        <!-- Product Customer Name Column -->
        <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
            <td mat-cell *matCellDef="let element"> {{element.customerName}} {{element.customerSurname}} </td>
        </ng-container>

        <ng-container matColumnDef="customerBusinessName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Business Name </th>
            <td mat-cell *matCellDef="let element"> {{element.customerBusinessName}} </td>
        </ng-container>

        <ng-container matColumnDef="deliverydistance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance </th>
            <td mat-cell *matCellDef="let element"> {{element.deliveryDistance}} </td>
        </ng-container>

        <ng-container matColumnDef="orderAddress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let element">
                {{element.addressLine1}} <br>
                {{element.addressLine2}} <br>
                {{element.addressLine3}} <br>
                {{element.addressPostalCode}} <br>
                {{element.provinceDescription}}
            </td>
        </ng-container>



        <!-- Delivery/Courier Column -->
        <ng-container matColumnDef="deliverycourier">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="after">
                    <button mat-menu-item *ngIf="parseInteger(element.deliveryDistance.slice(0, -2)) <=50"
                       
                        [routerLink]="parseInteger(element.deliveryDistance.slice(0, -2)) >50? []: ['/assignlocaldelivery', element.saleId]">Assign
                        Delivery</button>
                    <button mat-menu-item *ngIf="parseInteger(element.deliveryDistance.slice(0, -2)) >50"
                       
                        [routerLink]="parseInteger(element.deliveryDistance.slice(0, -2)) <=50? []: ['/assigncourierdelivery' , element.saleId]">Assign
                        Courier</button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>