 <a mat-mini-fab color="primary" href="http://localhost:8080/Dashboard.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>

<h1>Daily Dashboard Sales</h1>

<mat-card  class="split left">
<div>
  <h2>Daily Sales Per Product Category</h2>
  <div id="htmlData" class=" column right" *ngIf="created">
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
  </div>
</div>
</mat-card>

<mat-card  class="split right">
<div>
  <h2>Daily Sales Per Category Type</h2>
  <div id="htmlData" class=" column right" *ngIf="created">
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartDat"
        [labels]="barChartLabe"
        [options]="barChartOpt"
        [plugins]="barChartPlugins"
        [legend]="barChartLeg"
        [chartType]="barChartTy">
      </canvas>
    </div>
    <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
  </div>
</div>
</mat-card>


<!-- <mat-card class="split right">
<div>
  <h2>Items Sold Per Category Type</h2>
  <div>
    <div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
       
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
</mat-card> -->
