 <a mat-mini-fab color="primary" href="http://localhost:8080/Dashboard.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>

<h1>Daily Dashboard Sales</h1>
<div class="column1">
  <button class="button1" mat-raised-button color="primary" type="submit" (click) = "generateReport()"> Generate </button>
<form [formGroup]="form">
    <div class="mat-row">
      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-m">
          <mat-label>Product Category </mat-label>
          <mat-select (click) = "generateReport()" [(value)]="selected" formControlName="productCategoryId">
            <mat-option *ngFor="let ProductCategory of collection" [value]="ProductCategory.productCategoryId">
              {{ProductCategory.productCategoryDescription}}
            </mat-option>
          </mat-select>
          <mat-hint>Select category type</mat-hint>
          <!-- <mat-error *ngIf="form.controls['productCategoryId'].invalid">Please select a Product Category</mat-error> -->
        </mat-form-field>
         <button class="button1" mat-raised-button color="primary" type="submit" (click) = "generateReport()"> Generate </button>
      </div>
    </div>
    </form>
<div>

 <div  class="column"> 
<mat-card class="split left">
<div>
  <h2>Daily Items Sold Per Product Category</h2>
  <div id="htmlData" class="column right" *ngIf="created">
    <div style="display: block">
      <div class="chart">
        <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
  </div>
</div>
</mat-card>

<mat-card class="split right">
<div>
  <h2>Daily Sales Per Category Type</h2>
  <div id="htmlData" class=" column right" *ngIf="created">
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartDat"
        [labels]="barChartLabe"
        [options]="barChartOpt"
        [plugins]="barChartPlugins"
        [legend]="barChartLeg"
        [chartType]="barChartTy">
      </canvas>
    </div>
    <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
  </div>
</div>
</mat-card>
</div>

<!-- <mat-card class="split right">
<div>
  <h2>Items Sold Per Category Type</h2>
  <div>
    <div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
       
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
</mat-card> -->
