.split {
  top: 35%;
  height: 70%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 40px;
}

h2 {
  text-align: center;
  font-weight: 40;
  font-size: 45px;
}

.help{
  position: absolute;
  right: 20px;
  top: 75px;
}

.dropdown{
  position: absolute;
  left: 20px;
  top: 75px;
}

.left {
  background-color: white;
}

.right {

  right: 0;
  background-color: white;
}