.disable {
  background-color: rgba(0,0,0,.12);
  box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
}


.example-header-image {
//background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
// text-align: center;
}
.contentx,.content1 {
  // align-content: center;
  flex: 50%;
  width: 50%;
  float: left;
  padding: 10px;
  margin: 0;
  //position: absolute;
  top: 15%;
  right: 25%;
  width: 50%;
}

.content {
  flex: 50%;
  width: 50%;
  float: center;
  padding: 10px;
  
}

.title {
  text-align: center;
  font-weight: 5px;
  font-size: 35px;
}

.content1 {
  text-align : left;
}


label{
  text-align: end;
  font-weight: bold;
  font-size: 16px;
  left:20px;
}

.info{
  
  font-size: 15px;
  text-align: start;
}

span{
  right:20px;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #3f51b5;
  left: 40%;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
  color: inherit;
  background: #F9F9F9 ;
  left: 40%;
  border-color: black;
}


