<div class="main">
    <div>

     <a mat-mini-fab color="primary" href="http://localhost:8080/UnscheduledDeliveries.html" target="_blank" aria-label="Example icon button with a menu icon" class="help">
                <mat-icon>help</mat-icon>
              </a>
              

     
        <h2>View Delivery Details</h2>

        <div class="search">
            <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                <li>
                    <div class="field has-addons">
                        <div class="control">
                            <input type="text" [(ngModel)]="searchWord" class="input" id="search"
                                placeholder="Type here...">
                        </div>
                        <div class="control">
                            <a class="button is-info" (click)="filter()">
                                <span class="fas fa-search search-icon"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <app-global-error *ngIf="dataNotFound"></app-global-error>

        <br>
        <br>

        <div class="mat-elevation-z8 table">
            <table mat-table [dataSource]="dataSource" matSort *ngIf="!dataNotFound">

                <ng-container matColumnDef="saleID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sale Number</th>
                    <td mat-cell *matCellDef="let element">{{element.saleID}} </td>
                </ng-container>

                <!-- Customer Name Column -->
                <ng-container matColumnDef="customerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer</th>
                    <td mat-cell *matCellDef="let element">{{element.customerName}} </td>
                </ng-container>

                <!-- Customer Business Name Column -->
                <ng-container matColumnDef="customerBusinessName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Business Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.customerBusinessName}} </td>
                </ng-container>

                <!-- Customer Contact Number Column -->
                <ng-container matColumnDef="customerCellphoneNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Contact Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.customerCellphoneNumber}} </td>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="addressPostalCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.addressLine1}} <br>
                        {{element.addressLine2}} <br>
                        {{element.city}} <br>
                        {{element.addressPostalCode}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <button mat-raised-button color="primary" [routerLink]="['/viewEmployeeDeliveryShifts']"><a mat-button>Back</a></button>