<div class="content">

    <h1 align="center">View Delivery Details</h1>

    <div class="content1">
        <!-- <mat-card> -->
        <!-- <mat-card-content> -->
        <div>
            <div>
                <label for="saleID">Sale_ID: </label>
                <span> &nbsp;{{sale.saleID}}</span>
            </div>
        </div>
        <!-- </mat-card-content> -->

        <div class="mat-row">
            <div class="mat-col-quarter">
                <p><label for="customerName">Customer Name:
                    </label>
                    <span> &nbsp;{{sale.customerName}} &nbsp; {{sale.customerSurname}}</span>
            </div>
        </div>

        <div class="mat-row">
            <div class="mat-col-quarter">
                <p><label for="customerBusinessName">Business Name:
                    </label>
                    <span> &nbsp;{{sale.customerBusinessName}}</span>
            </div>
        </div>

        <div class="mat-row">
            <div class="mat-col-quarter">
                <p><label for="customerCellphoneNumber">Customer Number</label>
                    <span> &nbsp;{{sale.customerCellphoneNumber}}</span>
            </div>
        </div>

        <div class="mat-row">
            <div class="mat-col-quarter">
                <p><label for="addressLine1"> Address
                    </label>

                    <span> &nbsp;{{sale.addressLine1}} &nbsp;{{sale.addressLine2}} &nbsp;{{sale.addressLine3}}</span>
            </div>
        </div>


        <div class="mat-row">
            <div class="mat-col-quarter">
                <div class="form-group" class="control-m">
                    <a href="#" (click)="Close()" mat-button>Home</a>
                </div>
            </div>
        </div>
        <!-- </mat-card> -->
    </div>