<div class="content">
<h2 *ngIf="isAddMode">Add Delivery Shift</h2>
<h2 *ngIf="!isAddMode">Edit Delivery Shift</h2>

<!-- max time for a shift is 1 hour (ADD Validation) -->

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Start Time</mat-label>
                <mat-select formControlName="startTime">
                  <mat-option *ngFor="let ds of collection" [value]="ds.timeId">{{ds.startTime}}</mat-option>        
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>End Time</mat-label>
                <mat-select formControlName="endTime">
                  <mat-option *ngFor="let ds of collection" [value]="ds.timeId">{{ds.endTime}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
 </div>

<div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
</div>

  <div class="mat-row">
    <div class="form-group" class="control-m">
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
  </div>

</div>

</form>
</div>