.left {
    //left: 0;
   float: left;
   width:50%;
   overflow:hidden;
  }
  
  .right {
    //right: 0;
   float: right;
   width:50%;
   overflow:hidden;
  }

//   .split {
//     top: 20%;
//     height: 70%;
//     width: 50%;
//     position:relative;
//     z-index: 1;
//     overflow-x: hidden;
//     padding-top: 20px;
//   }