<section class="hero is-warning">
    <div class="hero-body">
      <p class="title">
        NKAP Bolting<br/>
      </p>

      <p class="subtitle">
        Learn More: NKAP Bolting Products.<br/><br/>
      </p>
      <p class="content is-medium">         
        Are you a begginer? <br/>
        At NKAP we pride ourselves in teaching our customers how to use our products.<br/>
        Here are a few video's as a beginners guide!
      </p>


    </div>
  </section>
  
  <div class="container">

      <div class="help">
  <button class="button is-info is-rounded my-float">
    <a href="http://localhost:8080/LearnMore.html" target="_blank">
               <i class="fa fa-question-circle" aria-hidden="true"></i>
              </a>
  </button>
</div>
      
    <div class=" right">
        <h2><b>Screw Showcase!</b> </h2>
        <iframe src="https://drive.google.com/file/d/1Xc9sbvnH3O9BmwQ7Nk8JCjlE9sOZPbAh/preview"  width="560" height="315" allow="autoplay"></iframe>
    </div>
    
    <div class=" left">
      <h2><b>How To Drive A Screw!</b>  </h2>
        <iframe src="https://drive.google.com/file/d/1jGJ_RjfwO3u6ycIHfCcNx4fivWooLDDk/preview" width="560" height="315" allow="autoplay"></iframe>
    </div>
    
    <div class=" right">
        <h2> <b>About Coach Screws!</b> </h2>
        <iframe src="https://drive.google.com/file/d/1ehn0x03uqkqaFzqtb0sqAWp5WjnNUpLz/preview" width="560" height="315" allow="autoplay"></iframe>
    </div>
    
    <div class=" left">
        <h2> <b>Learn About Chipboard Screws</b></h2>
        <iframe src="https://drive.google.com/file/d/1NjyMs5HdzG_tzTc-Ttn5s7ex1AMREkAc/preview" width="560" height="315" allow="autoplay"></iframe>
        
    </div>
    
    <div class=" right">
        <h2><b>Learn About Machine Screws!</b> </h2>
        <iframe src="https://drive.google.com/file/d/1ogN47E3Yxv0KMnbTW5kJDCuAJGNu4c5n/preview" width="560" height="315" allow="autoplay"></iframe>
    
    </div>
    
    <div class=" left">
        <h2><b>Learn About Pop Rivets!</b></h2>
        <iframe src="https://drive.google.com/file/d/1zuJkYpl4MO_JAr5txoWnhgVPchw54yR9/preview" width="560" height="315" allow="autoplay"></iframe>
    </div>
    
    <div class=" right">
        <h2><b>Learn About Square Washers!</b></h2>
        <iframe src="https://drive.google.com/file/d/16jYHMjTQVpbgePJCk1xwbQcafFkbv4vE/preview" width="560" height="315" allow="autoplay"></iframe>
    </div>
    
    <div class=" left">
        <h2><b>Learn Wing Nuts!</b></h2>
        <iframe src="https://drive.google.com/file/d/1wwurbTuLzvhu68PWS3GpWVXZKWEugshE/preview" width="560" height="315" allow="autoplay"></iframe>
    </div>
  </div>
