<h1 *ngIf="isAddMode">Add Special</h1>
<h1 *ngIf="!isAddMode">Edit Special</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="main">

  <div class="mat-row">
    <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-w">
            <mat-label>Special Image</mat-label>
            <input type="text" matInput placeholder="Special Image" formControlName="specialImage">
            <mat-hint>Special Image</mat-hint>
        </mat-form-field>
    </div>
    <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-w">
            <mat-label>Description</mat-label>
            <input type="text" matInput placeholder="Description" formControlName="specialDescription">
            <mat-hint>Special Description</mat-hint>
        </mat-form-field>
    </div>
</div>

<div class="mat-row">
  <div class="mat-col-quarter">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>Special Start Date</mat-hint>
    </mat-form-field>
  </div>
  <div class="mat-col-quarter">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>Special End Date</mat-hint>
    </mat-form-field>
  </div>
</div>

<div class="mat-row">
  <div class="mat-col-quarter">
      <mat-form-field appearance="outline" class="control-w">
          <mat-label>Price</mat-label>
          <input type="text" matInput placeholder="Special Price" formControlName="specialPrice">
          <mat-hint>Special Price</mat-hint>
      </mat-form-field>
  </div>

  <div class="form-group" class="control-w">
    <button mat-raised-button color ="primary" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Save
    </button>
    <a (click)="Close()" mat-button>Cancel</a>
</div>

</div>

</form>
