<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Product Details</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
              
                <label for="productItemName">Product Item Name: </label>
                <span> &nbsp;{{productItem.productItemName}}</span>

                <br>
          
                <label for="productItemName">Product Item Cost: </label>
                <span> &nbsp;R{{productItem.productItemCost}}</span>
              
                <br>

                <label for="productItemName">Product Item Quantity: </label>
                <span> &nbsp;{{productItem.quantityOnHand}}</span>
            
  </mat-card-content>
  <mat-card-actions>
    
  </mat-card-actions>
</mat-card>

<div class="content">
  <h2>Add Special</h2>
  <!-- <h2 *ngIf="!isAddMode">Edit Special</h2> -->

   <form [formGroup]="form" (ngSubmit)="onSubmit()" class="main">



        <div class="mat-row">
          <!-- Special Description -->
          <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Description</mat-label>
                <input type="text" matInput placeholder="Description" formControlName="specialDescription">
                <mat-hint>Enter special description</mat-hint>
            </mat-form-field>
          </div>
        </div>


      <div class="mat-row">
        <!-- Start Date -->
       <div class="mat-col-quarter">
        <mat-form-field class="control-m">
          <input matInput [matDatepicker]="picker" placeholder="Special Start Date"formControlName="specialStartDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>Enter special start date</mat-hint>
        </mat-form-field>
        </div>
      </div>

      <div class="mat-row"> 
       <!-- End Date -->
       <div class="mat-col-quarter">
        <mat-form-field class="control-m">
          <input matInput [matDatepicker]="picker1" placeholder="Special End Date" formControlName="specialEndDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        <mat-hint>Enter special end date</mat-hint>
        </mat-form-field>
       </div>
      </div>

      <div class="mat-row"> 
          <!-- Special Price -->
          <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
              <mat-label>Discount Percentage</mat-label>
              <mat-select [(value)]="selected" formControlName="discountId">
                <mat-option *ngFor="let Discount of collection" [value]="Discount.discountId">
                  {{Discount.discountPercentage}}
                </mat-option>
              </mat-select>
          <mat-hint>Choose special discount</mat-hint>
            </mat-form-field>
          </div>
      </div>

    <div class="mat-row">
      <!-- Save or cancel special -->
      <div class="form-group" class="control-m">
        <button mat-raised-button color ="primary" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a (click)="Close()" mat-button>Cancel</a>
    </div>

    </div>
  </form>
</div>
