<section class="hero is-medium is-link">
  <div class="hero-body">
    <p class="title">
      Our website
    </p>
    <p class="subtitle">
      Buy stuff
    </p>
  </div>
</section>


<br/>
<section>
    <div class="tile is-ancestor">
    <div class="tile is-parent">
        <ng-container *ngFor="let categories of categoryType">
            <article class="tile is-child box">
            <p class="title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"></p>
            <p class="subtitle"  style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"></p>
            <div class="content">
                <p>{{Categories.CategoryTypeDescription}}</p>
                <p>{{Categories.ItemDescription}}</p>           
                <p></p>
            </div>
                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/640x480.png">
                </figure>
            <button class="button is-info is-rounded" routerLink="/products">More</button>
            </article>          
        </ng-container>      
    </div>
    
    <div class="tile is-parent">
        <article class="tile is-child box">
        <p class="title">2 column</p>
        <p class="subtitle">With some content</p>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
        <button class="button is-info is-rounded">Rounded</button>
        </article>
    </div>

    <div class="tile is-parent">
        <article class="tile is-child box">
        <p class="title">Third column</p>
        <p class="subtitle">With some content</p>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
        <button class="button is-info is-rounded">Rounded</button>
        </article>
    </div>
    </div>
</section>
