<section class="hero is-medium is-link">
  <div class="hero-body">
    <p class="title">
      NKAP Bolting System
    </p>
    <p class="subtitle">
      By DS3 Solutions
    </p>
  </div>
</section>


<br/>
<div class="container-fluid">
<section>
    <div class="tile is-ancestor is-4by3">
        <ng-container *ngFor="let prodcat of productCategories">
            <div class="tile is-parent">

              <article class="tile is-child box">
                  <p class="title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                    {{prodcat.productCategoryDescription}}
                  </p>

                  <div class="content">
                    <center><img src="{{prodcat.productCategoryImage}}" width="60%" height="50%" alt="productCategoryImage"></center>
                  </div>

                  <footer>                
                    <button class="button is-info is-rounded" routerLink="/products">More</button>
                  </footer>
                  
                     </article>       

            </div>  
        </ng-container>
    </div> 
</section>
</div> 