<section class="hero is-medium is-link">
  <div class="hero-body">
    <p class="title">
      NKAP Bolting System
    </p>
    <p class="subtitle">
      By DS3 Solutions
    </p>
  </div>
</section>


<br/>

<div class="container">
  <div class="row">    
    <section>
      <div class="tile is-ancestor is-vertical is-centered">
          <ng-container *ngFor="let prodcat of productCategories">
              <div class="tile is-parent is-8">
  
                <article class="tile is-child box">
                  
                    <p class="title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                      {{prodcat.productCategoryDescription}}
                    </p>               
                    <button class="button is-info is-rounded is-centered is-small" routerLink="/products">Go To {{prodcat.productCategoryDescription}}</button>
                    <br/>
                    <span class="content">
                      <center><img src="{{prodcat.productCategoryImage}}" width="60%" height="50%" padding=5 alt="productCategoryImage"></center>
                    </span>
  
                </article>       
  
              </div>  
          </ng-container>
      </div> 
  </section>
  </div>
</div> 