<h1 *ngIf="isAddMode">Add Employee</h1>
<h1 *ngIf="!isAddMode">Edit Employee</h1>

 <!-- Modal -->
 <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="form">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Email Address</label>
                <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contact Number</label>
                <input type="text" formControlName="contact" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Salary</label>
                <input type="text" formControlName="salary" class="form-control" id="exampleInputPassword1">
            </div>
        </form>

      </div>

      <div class="modal-footer">
        <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
    </div>
    </div>
  </div>
</div> -->

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="main">
    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>Title</mat-label>
                <mat-select formControlName="title">
                  <mat-option value="Dr">Dr</mat-option>
                  <mat-option value="Mr">Mr</mat-option>
                  <mat-option value="Mrs">Mrs</mat-option>
                  <mat-option value="Miss">Miss</mat-option>
                  <mat-option value="Ms">Ms</mat-option>
                </mat-select>
                <mat-hint align="end">Your title</mat-hint>
              </mat-form-field>
        </div>
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="First Name" formControlName="firstName">
                <mat-hint>Your first name</mat-hint>
            </mat-form-field>
        </div>
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput placeholder="Last Name" formControlName="lastName">
                <mat-hint>Your last name</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>Contact Number</mat-label>
                <input type="text" matInput placeholder="contactNumber" formControlName="contactNumber">
                <mat-hint>Your contact number</mat-hint>
            </mat-form-field>
        </div>

        <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-w">
              <mat-label>ID Number</mat-label>
              <input type="text" matInput placeholder="idNumber" formControlName="idNumber">
              <mat-hint>Your id number</mat-hint>
          </mat-form-field>
      </div>

      <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-w">
            <mat-label>Date of birth</mat-label>
            <!-- <input type="<mat-form-field> -->
              <input matInput [matDatepicker]="picker" placeholder="title">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <!-- <button matSuffix [matDatepickerToggle]="picker"></button> -->
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- " matInput placeholder="dateOfBirth" formControlName="dateOfBirth">
            <mat-hint>Your date of birth</mat-hint>
        </mat-form-field> -->
      </div>

    </div>

    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>Address Line 1</mat-label>
                <input type="text" matInput placeholder="addressLine1" formControlName="addressLine1">
                <mat-hint>Your adress line 1</mat-hint>
            </mat-form-field>
        </div>
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>City/Town</mat-label>
                <input type="text" matInput placeholder="City/Town" formControlName="cityTown">
                <mat-hint>Your city or town</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div class="mat-row">
      <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-w">
              <mat-label>Address Line 2</mat-label>
              <input type="text" matInput placeholder="addressLine2" formControlName="addressLine2">
              <mat-hint>Your adress line 2</mat-hint>
          </mat-form-field>
      </div>
      <div class="mat-col-quarter">
          <mat-form-field appearance="outline" class="control-w">
              <mat-label>Postal Code</mat-label>
              <input type="text" matInput placeholder="postalCode" formControlName="postalCode">
              <mat-hint>Your postal code</mat-hint>
          </mat-form-field>
      </div>
  </div>

  <div class="mat-row">
    <div class="mat-col-quarter">
        <mat-form-field appearance="outline" class="control-w">
            <mat-label>Address Line 3</mat-label>
            <input type="text" matInput placeholder="addressLine3" formControlName="addressLine3">
            <mat-hint>Your adress line 3</mat-hint>
        </mat-form-field>
    </div>

    <div class="form-group" class="control-w">
      <button mat-raised-button color ="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
      </button>
      <a (click)="Close()" mat-button>Cancel</a>
  </div>

</div>

</form>

