<h2 mat-dialog-title>Forgot Password</h2>
<form [formGroup]="form">
    <!-- (ngSubmit)=" onSubmit()" -->
    <mat-dialog-content class="mat-typography">



        <div class="mat-row">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Enter OTP code</mat-label>
                <input type="text" matInput placeholder="OTP" formControlName="otp">
                <mat-hint>OTP code sent via SMS</mat-hint>
                <mat-error *ngIf="form.controls['otp'].invalid">Invalid OTP Code Provided</mat-error>
            </mat-form-field>
        </div>


        <div class="mat-row" *ngIf="form.controls['otp'].value">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>New Password</mat-label>
                <input type="password" matInput placeholder="Enter new password" formControlName="userPassword">
                <mat-hint>Enter New Password</mat-hint>
                <mat-error *ngIf="form.controls['userPassword'].invalid">Password must be 6 or more characters long
                </mat-error>
            </mat-form-field>
        </div>


        <div class="mat-row" *ngIf="form.controls['userPassword'].value">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Confirm new Password</mat-label>
                <input type="password" matInput placeholder="Confirm new password" formControlName="confirmNewPassword">
                <mat-hint>Enter Confirm New Password</mat-hint>
                <mat-error *ngIf="form.controls['confirmNewPassword'].invalid">Invalid password</mat-error>

            </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [routerLink]="['/login']" (click)="Cancel()">Cancel</button>
        <button mat-raised-button type="submit" color="primary" cdkFocusInitial (click)="Confirm()">Confirm</button>
    </mat-dialog-actions>
</form>