  
<h2 mat-dialog-title>Forgot Username/Password</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline" class="control-m">
                    <mat-label>Enter email address</mat-label>
                    <input type="text" matInput placeholder="Email Address" formControlName="emailAddress">
                    <mat-hint>User email address</mat-hint>
                    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [routerLink]="['/login']"  (click)="Cancel()">Cancel</button>
    <button mat-raised-button type="submit" color="primary" cdkFocusInitial (click)="Confirm()">Confirm</button>
</mat-dialog-actions>
